Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: address AI review feedback (iteration 1)
  tools/rust/github-agents-cli/src/agents/cli.rs
  tools/rust/github-agents-cli/src/review/agents/codex.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 2)
  tools/rust/github-agents-cli/src/agents/cli.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 3)
  tools/mcp/mcp_codex/src/types.rs
Due: rust-fmt-mcp-servers

update: Codex CLI to 0.101.0 with gpt-5.3-codex xhigh reasoning (#291)
  .agents.yaml
  docker/codex.Dockerfile
  tools/mcp/mcp_codex/src/codex.rs
  tools/mcp/mcp_codex/src/types.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
  tools/rust/github-agents-cli/src/review/agents/codex.rs
Due: rust-fmt-github-agents-cli, rust-fmt-mcp-servers

refactor: remove injection_toolkit CI/config (moved to game-mods repo)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .mcp.json.full
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  automation/setup/git/hooks/pre-push
  docker-compose.yml
  docker/rust-ci.Dockerfile
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/ci/stages.rs
  tools/rust/automation-cli/src/shared/docker.rs
Due: rust-fmt-automation-cli, check-markdown-links

docs: add memory-explorer MCP server to documentation
  AGENTS.md
  CLAUDE.md
  docs/mcp/README.md
  docs/mcp/servers.md
Due: check-markdown-links

docs: move game-mods and oasis-os to Related Repositories section
  README.md
Due: check-markdown-links

docs: clean up README intro and add rust-psp to related repos
  README.md
Due: check-markdown-links

docs: update Related Repositories with accurate descriptions from READMEs
  AGENTS.md
  CLAUDE.md
  README.md
Due: check-markdown-links

docs: move companion repos below Rust tools, add breakpoint
  AGENTS.md
  CLAUDE.md
  README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  AGENTS.md
  README.md
  SECURITY.md
  docs/QUICKSTART.md
  docs/agents/claude-code-setup.md
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  .github/workflows/main-ci.yml
Due: none

fix: stabilize main-ci Build Docker Images after injection_toolkit migration
  .github/workflows/main-ci.yml
  automation/README_AUTO_FORMAT.md
  automation/setup/git/setup-pre-commit.sh
  docker/rust-ci.Dockerfile
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: rust-fmt-automation-cli, check-markdown-links

fix: address AI review feedback (iteration 1)
  .github/workflows/main-ci.yml
Due: none

fix: stabilize main-ci Build Docker Images after injection_toolkit migration (#293)
  .github/workflows/main-ci.yml
  automation/README_AUTO_FORMAT.md
  automation/setup/git/setup-pre-commit.sh
  docker/rust-ci.Dockerfile
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: rust-fmt-automation-cli, check-markdown-links

update: WMD proliferation projection report to v2.0 (Feb 2026)
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

update: political targeting projection report to v2.0 (Feb 2026)
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-political-targeting.tex
Due: check-markdown-links

update: institutional erosion projection report to v2.0 (Feb 2026)
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: check-markdown-links

update: financial integrity projection report to v2.0 (Feb 2026)
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/latex/ai-agents-financial-integrity.tex
Due: check-markdown-links

update: espionage operations projection report to v2.0 (Feb 2026)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/latex/ai-agents-espionage-operations.tex
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

update: financial integrity cover page to concentric ring design
  docs/projections/latex/ai-agents-financial-integrity.tex
Due: none

update: desaturate espionage report box and accent colors
  docs/projections/latex/ai-agents-espionage-operations.tex
Due: none

update: improve espionage report readability with page break optimization
  docs/projections/latex/ai-agents-espionage-operations.tex
Due: none

update: improve institutional erosion report readability with tighter spacing
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: none

update: desaturate colors and improve cover pages across 4 projection reports
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: none

fix: normalize ETRA document IDs and remove "Revised" references across projection reports
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  docs/projections/ai-agents-espionage-operations.md
Due: check-markdown-links

update: ETRA projection reports to v2.0 (Feb 2026) (#294)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

update: Gemini CLI to 0.29.5 and switch default model to gemini-3.1-pro-preview
  .agents.yaml
  .env.example
  automation/corporate-proxy/README.md
  automation/corporate-proxy/gemini/config/gemini-config.json
  automation/corporate-proxy/gemini/docker/Dockerfile
  automation/review/setup-gemini-cli.sh
  docker/ai-agents.Dockerfile
  docker/mcp-gemini.Dockerfile
  docs/infrastructure/self-hosted-runner.md
  docs/integrations/ai-services/gemini-setup.md
  docs/mcp/servers.md
  tools/cli/agents/run_gemini.sh
  tools/cli/containers/run_gemini_container.sh
  tools/mcp/mcp_gemini/README.md
  tools/mcp/mcp_gemini/src/types.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
Due: rust-fmt-github-agents-cli, rust-fmt-mcp-servers, check-markdown-links

update: Gemini CLI to 0.29.5 and switch default model to gemini-3.1-pro-preview (#295)
  .agents.yaml
  .env.example
  automation/corporate-proxy/README.md
  automation/corporate-proxy/gemini/config/gemini-config.json
  automation/corporate-proxy/gemini/docker/Dockerfile
  automation/review/setup-gemini-cli.sh
  docker/ai-agents.Dockerfile
  docker/mcp-gemini.Dockerfile
  docs/infrastructure/self-hosted-runner.md
  docs/integrations/ai-services/gemini-setup.md
  docs/mcp/servers.md
  tools/cli/agents/run_gemini.sh
  tools/cli/containers/run_gemini_container.sh
  tools/mcp/mcp_gemini/README.md
  tools/mcp/mcp_gemini/src/types.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
Due: rust-fmt-github-agents-cli, rust-fmt-mcp-servers, check-markdown-links

fix: gh-validator now checks emoji and secrets in --body-file/--notes-file content
  tools/rust/gh-validator/src/main.rs
  tools/rust/gh-validator/src/validation/comments.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

fix: check hardened path before recursion guard in wrapper-common
  tools/rust/wrapper-common/src/binary_finder.rs
Due: rust-fmt-wrapper-common

fix: address AI review feedback (iteration 1)
  tools/rust/gh-validator/src/main.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

fix: address AI review feedback (iteration 2)
  tools/rust/gh-validator/src/main.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

fix: gh-validator emoji bypass via --body-file and wrapper recursion guard blocking setgid chain (#296)
  tools/rust/gh-validator/src/main.rs
  tools/rust/gh-validator/src/validation/comments.rs
  tools/rust/wrapper-common/src/binary_finder.rs
Due: rust-fmt-gh-validator, rust-fmt-wrapper-common, rust-clippy-gh-validator

fix: harden PR review agent reliability with retries, timeouts, and failure visibility
  .github/actions/pr-review-fix/action.yml
  tools/rust/automation-cli/src/commands/review/failure.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/automation-cli/src/shared/process.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 1)
  tools/rust/automation-cli/src/shared/process.rs
Due: rust-fmt-automation-cli
