Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: address AI review feedback (iteration 0)
  tools/mcp/mcp_comfyui/src/client.rs
  tools/mcp/mcp_comfyui/src/server.rs
Due: none

fix: address AI review feedback (iteration 1)
  tools/mcp/mcp_comfyui/src/server.rs
Due: none

fix: address AI review feedback (iteration 2)
  docker/python-ci.Dockerfile
  pyproject.toml
Due: none

feat(mcp-blender): add quick effects and advanced object tools
  tools/mcp/mcp_blender/README.md
  tools/mcp/mcp_blender/scripts/advanced_objects.py
  tools/mcp/mcp_blender/scripts/quick_effects.py
  tools/mcp/mcp_blender/src/server.rs
Due: ty, check-markdown-links

feat(mcp): migrate mcp-comfyui to Rust (#254)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  docker/python-ci.Dockerfile
  pyproject.toml
  tools/mcp/mcp_comfyui/Cargo.lock
  tools/mcp/mcp_comfyui/Cargo.toml
  tools/mcp/mcp_comfyui/README.md
  tools/mcp/mcp_comfyui/docs/README.md
  tools/mcp/mcp_comfyui/docs/WORKFLOWS.md
  tools/mcp/mcp_comfyui/examples/workflow_examples.py
  tools/mcp/mcp_comfyui/mcp_comfyui/__init__.py
  tools/mcp/mcp_comfyui/mcp_comfyui/server.py
  tools/mcp/mcp_comfyui/mcp_comfyui/stubs.py
  tools/mcp/mcp_comfyui/mcp_comfyui/workflows.py
  tools/mcp/mcp_comfyui/pyproject.toml
  tools/mcp/mcp_comfyui/scripts/test_server.py
  tools/mcp/mcp_comfyui/scripts/test_workflows.py
  tools/mcp/mcp_comfyui/src/client.rs
  tools/mcp/mcp_comfyui/src/main.rs
  tools/mcp/mcp_comfyui/src/server.rs
  tools/mcp/mcp_comfyui/src/types.rs
  tools/mcp/mcp_comfyui/src/workflows.rs
Due: ty, check-markdown-links

test(mcp-blender): add comprehensive test coverage
  tools/mcp/mcp_blender/src/blender.rs
  tools/mcp/mcp_blender/src/jobs.rs
  tools/mcp/mcp_blender/src/server.rs
  tools/mcp/mcp_blender/src/types.rs
Due: none

fix: address AI review feedback (iteration 0)
  tools/mcp/mcp_blender/src/blender.rs
  tools/mcp/mcp_blender/src/server.rs
Due: none

fix: address AI review feedback (iteration 1)
  tools/mcp/mcp_blender/scripts/render.py
  tools/mcp/mcp_blender/scripts/scene_builder.py
Due: ty

style(mcp-blender): fix import ordering
  tools/mcp/mcp_blender/src/main.rs
Due: none

fix: address AI review feedback (iteration 2)
  tools/mcp/mcp_blender/src/server.rs
Due: none

fix: resolve CI pipeline failures
  docker/python-ci.Dockerfile
  pyproject.toml
  tools/mcp/mcp_blender/scripts/render.py
Due: ty

feat(mcp): enhance mcp-ai-toolkit with AI Toolkit deep dive improvements
  tools/mcp/mcp_ai_toolkit/README.md
  tools/mcp/mcp_ai_toolkit/src/server.rs
  tools/mcp/mcp_ai_toolkit/src/types.rs
Due: check-markdown-links

feat(mcp): migrate mcp-ai-toolkit to Rust
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  tools/mcp/mcp_ai_toolkit/Cargo.lock
  tools/mcp/mcp_ai_toolkit/Cargo.toml
  tools/mcp/mcp_ai_toolkit/README.md
  tools/mcp/mcp_ai_toolkit/docs/README.md
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/__init__.py
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/server.py
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/stubs.py
  tools/mcp/mcp_ai_toolkit/pyproject.toml
  tools/mcp/mcp_ai_toolkit/scripts/test_server.py
  tools/mcp/mcp_ai_toolkit/src/config.rs
  tools/mcp/mcp_ai_toolkit/src/main.rs
  tools/mcp/mcp_ai_toolkit/src/server.rs
  tools/mcp/mcp_ai_toolkit/src/types.rs
Due: ty, check-markdown-links

fix: resolve CI pipeline failures
  automation/testing/test_all_servers.py
  docker/ai-toolkit.Dockerfile
  docker/entrypoints/ai-toolkit-entrypoint.sh
  docker/python-ci.Dockerfile
  pyproject.toml
Due: none

fix: address AI review feedback (iteration 1)
  tools/mcp/mcp_ai_toolkit/src/server.rs
Due: none

feat(mcp): migrate mcp-ai-toolkit to Rust (#256)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  automation/testing/test_all_servers.py
  docker/ai-toolkit.Dockerfile
  docker/entrypoints/ai-toolkit-entrypoint.sh
  docker/python-ci.Dockerfile
  pyproject.toml
  tools/mcp/mcp_ai_toolkit/Cargo.lock
  tools/mcp/mcp_ai_toolkit/Cargo.toml
  tools/mcp/mcp_ai_toolkit/README.md
  tools/mcp/mcp_ai_toolkit/docs/README.md
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/__init__.py
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/server.py
  tools/mcp/mcp_ai_toolkit/mcp_ai_toolkit/stubs.py
  tools/mcp/mcp_ai_toolkit/pyproject.toml
  tools/mcp/mcp_ai_toolkit/scripts/test_server.py
  tools/mcp/mcp_ai_toolkit/src/config.rs
  tools/mcp/mcp_ai_toolkit/src/main.rs
  tools/mcp/mcp_ai_toolkit/src/server.rs
  tools/mcp/mcp_ai_toolkit/src/types.rs
Due: ty, check-markdown-links

chore: remove Python-specific launcher scripts
  automation/launchers/README.md
  automation/launchers/linux/.gitkeep
  automation/launchers/linux/vrchat_server.sh
  automation/launchers/windows/virtual-character/start_server_windows.bat
  automation/launchers/windows/virtual-character/start_server_windows.ps1
Due: check-markdown-links

chore: clean up Python references after mcp-virtual-character migration
  .mcp.json
  .mcp.json.full
  docker-compose.yml
  pyproject.toml
  tests/test_basic.py
  tests/test_virtual_character.py
Due: none

docs: add Rust migration notes to virtual character documentation
  docs/integrations/creative-tools/virtual-character-elevenlabs.md
  docs/roadmaps/dgx-spark-integration-roadmap.md
  docs/roadmaps/elevenlabs-improvement-roadmap.md
  docs/roadmaps/mcp-integration-roadmap.md
  docs/roadmaps/virtual-character-roadmap.md
Due: check-markdown-links

feat(mcp): add audio handling and storage service for feature parity
  tools/mcp/mcp_virtual_character/Cargo.lock
  tools/mcp/mcp_virtual_character/Cargo.toml
  tools/mcp/mcp_virtual_character/docs/AUDIO_SEQUENCING.md
  tools/mcp/mcp_virtual_character/docs/EMOTIONS.md
  tools/mcp/mcp_virtual_character/docs/EXPRESSION.md
  tools/mcp/mcp_virtual_character/docs/GESTURES_REFERENCE.md
  tools/mcp/mcp_virtual_character/docs/REMOTE_SETUP.md
  tools/mcp/mcp_virtual_character/docs/VOICEMEETER_SETUP.md
  tools/mcp/mcp_virtual_character/docs/VRCHAT_AUDIO_SETUP.md
  tools/mcp/mcp_virtual_character/docs/VRCHAT_BACKEND.md
  tools/mcp/mcp_virtual_character/docs/VRCHAT_MOVEMENT_TROUBLESHOOTING.md
  tools/mcp/mcp_virtual_character/docs/VRCHAT_SETUP.md
  tools/mcp/mcp_virtual_character/src/audio.rs
  tools/mcp/mcp_virtual_character/src/lib.rs
  tools/mcp/mcp_virtual_character/src/main.rs
  tools/mcp/mcp_virtual_character/src/server.rs
  tools/mcp/mcp_virtual_character/src/storage.rs
Due: check-markdown-links

feat(mcp): migrate mcp-video-editor to Rust
  .dockerignore
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  tools/mcp/mcp_video_editor/Cargo.lock
  tools/mcp/mcp_video_editor/Cargo.toml
  tools/mcp/mcp_video_editor/README.md
  tools/mcp/mcp_video_editor/docs/README.md
  tools/mcp/mcp_video_editor/mcp_video_editor/__init__.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/__init__.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/audio_processor.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/video_processor.py
  tools/mcp/mcp_video_editor/mcp_video_editor/server.py
  tools/mcp/mcp_video_editor/mcp_video_editor/tools.py
  tools/mcp/mcp_video_editor/pyproject.toml
  tools/mcp/mcp_video_editor/requirements.txt
  tools/mcp/mcp_video_editor/scripts/example_usage.py
  tools/mcp/mcp_video_editor/scripts/test_server.py
  tools/mcp/mcp_video_editor/src/audio.rs
  tools/mcp/mcp_video_editor/src/jobs.rs
  tools/mcp/mcp_video_editor/src/main.rs
  tools/mcp/mcp_video_editor/src/server.rs
  tools/mcp/mcp_video_editor/src/types.rs
  tools/mcp/mcp_video_editor/src/video.rs
  tools/mcp/mcp_video_editor/tests/test_video_editor.py
Due: ty, check-markdown-links

feat(mcp): add sequence handler and audio emotion mappings
  tools/mcp/mcp_virtual_character/Cargo.lock
  tools/mcp/mcp_virtual_character/Cargo.toml
  tools/mcp/mcp_virtual_character/src/audio_emotion_mappings.rs
  tools/mcp/mcp_virtual_character/src/lib.rs
  tools/mcp/mcp_virtual_character/src/main.rs
  tools/mcp/mcp_virtual_character/src/sequence_handler.rs
  tools/mcp/mcp_virtual_character/src/server.rs
Due: none

test(mcp-video-editor): add comprehensive tests
  tools/mcp/mcp_video_editor/src/server.rs
  tools/mcp/mcp_video_editor/src/types.rs
Due: none

fix: address AI review feedback (iteration 0)
  tools/mcp/mcp_video_editor/src/audio.rs
  tools/mcp/mcp_video_editor/src/server.rs
  tools/mcp/mcp_video_editor/src/video.rs
Due: none

feat(mcp): add OSC receiver and storage HTTP server
  tools/mcp/mcp_virtual_character/Cargo.lock
  tools/mcp/mcp_virtual_character/Cargo.toml
  tools/mcp/mcp_virtual_character/src/backends/vrchat.rs
  tools/mcp/mcp_virtual_character/src/lib.rs
  tools/mcp/mcp_virtual_character/src/main.rs
  tools/mcp/mcp_virtual_character/src/storage.rs
  tools/mcp/mcp_virtual_character/src/storage_server.rs
Due: none

fix: address AI review feedback (iteration 1)
  tools/mcp/mcp_video_editor/src/audio.rs
  tools/mcp/mcp_video_editor/src/server.rs
  tools/mcp/mcp_video_editor/src/video.rs
Due: none

fix: address AI review feedback (iteration 2)
  docker/python-ci.Dockerfile
Due: none

fix: address AI review feedback (iteration 3)
  docker/python-ci.Dockerfile
Due: none

feat(mcp): migrate mcp-memory-explorer from Python to Rust with full feature parity
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  tools/mcp/mcp_memory_explorer/Cargo.lock
  tools/mcp/mcp_memory_explorer/Cargo.toml
  tools/mcp/mcp_memory_explorer/README.md
  tools/mcp/mcp_memory_explorer/pyproject.toml
  tools/mcp/mcp_memory_explorer/run.bat
  tools/mcp/mcp_memory_explorer/scripts/test_server.py
  tools/mcp/mcp_memory_explorer/src/explorer.rs
  tools/mcp/mcp_memory_explorer/src/main.rs
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/__init__.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/__main__.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/explorer.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/server.py
  tools/mcp/mcp_memory_explorer/src/server.rs
  tools/mcp/mcp_memory_explorer/src/types.rs
Due: ty, check-markdown-links

feat(mcp): migrate mcp-video-editor to Rust with tests (#258)
  .dockerignore
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  docker/python-ci.Dockerfile
  tools/mcp/mcp_video_editor/Cargo.lock
  tools/mcp/mcp_video_editor/Cargo.toml
  tools/mcp/mcp_video_editor/README.md
  tools/mcp/mcp_video_editor/docs/README.md
  tools/mcp/mcp_video_editor/mcp_video_editor/__init__.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/__init__.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/audio_processor.py
  tools/mcp/mcp_video_editor/mcp_video_editor/processors/video_processor.py
  tools/mcp/mcp_video_editor/mcp_video_editor/server.py
  tools/mcp/mcp_video_editor/mcp_video_editor/tools.py
  tools/mcp/mcp_video_editor/pyproject.toml
  tools/mcp/mcp_video_editor/requirements.txt
  tools/mcp/mcp_video_editor/scripts/example_usage.py
  tools/mcp/mcp_video_editor/scripts/test_server.py
  tools/mcp/mcp_video_editor/src/audio.rs
  tools/mcp/mcp_video_editor/src/jobs.rs
  tools/mcp/mcp_video_editor/src/main.rs
  tools/mcp/mcp_video_editor/src/server.rs
  tools/mcp/mcp_video_editor/src/types.rs
  tools/mcp/mcp_video_editor/src/video.rs
  tools/mcp/mcp_video_editor/tests/test_video_editor.py
Due: ty, check-markdown-links

fix: address AI review feedback (iteration 0)
  tools/mcp/mcp_memory_explorer/src/explorer.rs
Due: none

feat(mcp): migrate mcp-memory-explorer from Python to Rust (#259)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  tools/mcp/mcp_memory_explorer/Cargo.lock
  tools/mcp/mcp_memory_explorer/Cargo.toml
  tools/mcp/mcp_memory_explorer/README.md
  tools/mcp/mcp_memory_explorer/pyproject.toml
  tools/mcp/mcp_memory_explorer/run.bat
  tools/mcp/mcp_memory_explorer/scripts/test_server.py
  tools/mcp/mcp_memory_explorer/src/explorer.rs
  tools/mcp/mcp_memory_explorer/src/main.rs
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/__init__.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/__main__.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/explorer.py
  tools/mcp/mcp_memory_explorer/src/mcp_memory_explorer/server.py
  tools/mcp/mcp_memory_explorer/src/server.rs
  tools/mcp/mcp_memory_explorer/src/types.rs
Due: ty, check-markdown-links

refactor: remove Python mcp_core package (all MCP servers now Rust)
  docker/python-ci.Dockerfile
  pyproject.toml
  tests/test_basic.py
  tools/mcp/mcp_core/docs/README.md
  tools/mcp/mcp_core/mcp_core/__init__.py
  tools/mcp/mcp_core/mcp_core/base_server.py
  tools/mcp/mcp_core/mcp_core/utils.py
  tools/mcp/mcp_core/pyproject.toml
Due: ty, check-markdown-links

fix: address AI review feedback (iteration 0)
  automation/launchers/windows/start-gaea2-mcp.bat
Due: none

fix: resolve CI pipeline failures
  automation/ci-cd/run-ci.sh
  tests/test_basic.py
Due: none
