Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: address AI review feedback (iteration 1)
  .github/actions/board-agent-work/action.yml
  .github/workflows/board-agent-worker.yml
Due: none

fix: address AI review feedback (iteration 2)
  .github/actions/board-agent-work/action.yml
Due: none

fix: address AI review feedback (iteration 3)
  .github/actions/board-agent-work/action.yml
Due: none

feat(economic-agents): implement core agent run_cycle() and LLM decision engine
  packages/economic_agents/Cargo.lock
  packages/economic_agents/Cargo.toml
  packages/economic_agents/crates/economic-agents-core/Cargo.toml
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/cycle.rs
  packages/economic_agents/crates/economic-agents-core/src/lib.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-core/src/state.rs
  packages/economic_agents/crates/economic-agents-core/tests/integration_tests.rs
  packages/economic_agents/crates/economic-agents-mock/Cargo.toml
  packages/economic_agents/crates/economic-agents-mock/src/lib.rs
  packages/economic_agents/crates/economic-agents-simulation/Cargo.toml
  packages/economic_agents/docs/CONVERSION_PROGRESS.md
Due: check-markdown-links

fix: indent embedded Python code in action.yml for YAML validity
  .github/actions/board-agent-work/action.yml
Due: none

fix: break long Python one-liner in workflow for yamllint compliance
  .github/workflows/board-agent-worker.yml
Due: none

feat(economic-agents): implement API, dashboard, and CLI integration
  packages/economic_agents/Cargo.lock
  packages/economic_agents/Cargo.toml
  packages/economic_agents/crates/economic-agents-api/Cargo.toml
  packages/economic_agents/crates/economic-agents-api/src/clients.rs
  packages/economic_agents/crates/economic-agents-api/src/lib.rs
  packages/economic_agents/crates/economic-agents-api/src/middleware.rs
  packages/economic_agents/crates/economic-agents-api/src/models.rs
  packages/economic_agents/crates/economic-agents-api/src/services.rs
  packages/economic_agents/crates/economic-agents-api/tests/api_integration_tests.rs
  packages/economic_agents/crates/economic-agents-cli/Cargo.toml
  packages/economic_agents/crates/economic-agents-cli/src/bin/economic-agents.rs
  packages/economic_agents/crates/economic-agents-cli/src/config.rs
  packages/economic_agents/crates/economic-agents-cli/src/lib.rs
  packages/economic_agents/crates/economic-agents-cli/src/runner.rs
  packages/economic_agents/crates/economic-agents-cli/src/scenarios.rs
  packages/economic_agents/crates/economic-agents-dashboard/Cargo.toml
  packages/economic_agents/crates/economic-agents-dashboard/src/lib.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/models.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/routes.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/state.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/websocket.rs
  packages/economic_agents/crates/economic-agents-dashboard/tests/dashboard_integration_tests.rs
  packages/economic_agents/crates/economic-agents-monitoring/src/lib.rs
  packages/economic_agents/docs/CONVERSION_PROGRESS.md
Due: check-markdown-links

chore: sync pre-commit hooks with CI validation rules
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

feat(economic-agents): integrate company/investment crates and add background runner
  packages/economic_agents/Cargo.lock
  packages/economic_agents/Dockerfile
  packages/economic_agents/config/agent.yml.example
  packages/economic_agents/crates/economic-agents-company/Cargo.toml
  packages/economic_agents/crates/economic-agents-core/Cargo.toml
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/lib.rs
  packages/economic_agents/crates/economic-agents-core/src/runner.rs
  packages/economic_agents/crates/economic-agents-investment/Cargo.toml
  packages/economic_agents/crates/economic-agents-investment/src/lib.rs
  packages/economic_agents/docker-compose.yml
  packages/economic_agents/docs/CONVERSION_PROGRESS.md
Due: check-markdown-links

feat(economic-agents): add CI/CD pipeline with clippy fixes
  .github/workflows/pr-validation.yml
  automation/ci-cd/run-ci.sh
  docker/rust-ci.Dockerfile
  packages/economic_agents/crates/economic-agents-api/src/clients.rs
  packages/economic_agents/crates/economic-agents-api/src/middleware.rs
  packages/economic_agents/crates/economic-agents-api/src/services.rs
  packages/economic_agents/crates/economic-agents-api/tests/api_integration_tests.rs
  packages/economic_agents/crates/economic-agents-cli/src/bin/economic-agents.rs
  packages/economic_agents/crates/economic-agents-cli/src/lib.rs
  packages/economic_agents/crates/economic-agents-cli/src/runner.rs
  packages/economic_agents/crates/economic-agents-cli/src/scenarios.rs
  packages/economic_agents/crates/economic-agents-company/src/lib.rs
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/cycle.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-core/src/runner.rs
  packages/economic_agents/crates/economic-agents-core/src/state.rs
  packages/economic_agents/crates/economic-agents-core/src/strategy.rs
  packages/economic_agents/crates/economic-agents-core/tests/integration_tests.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/lib.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/routes.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/state.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/websocket.rs
  packages/economic_agents/crates/economic-agents-dashboard/tests/dashboard_integration_tests.rs
  packages/economic_agents/crates/economic-agents-interfaces/src/lib.rs
  packages/economic_agents/crates/economic-agents-investment/src/lib.rs
  packages/economic_agents/crates/economic-agents-mock/src/compute.rs
  packages/economic_agents/crates/economic-agents-mock/src/marketplace.rs
  packages/economic_agents/crates/economic-agents-mock/src/wallet.rs
  packages/economic_agents/crates/economic-agents-monitoring/src/events.rs
  packages/economic_agents/crates/economic-agents-monitoring/src/lib.rs
  packages/economic_agents/crates/economic-agents-simulation/src/lib.rs
  packages/economic_agents/deny.toml
  packages/economic_agents/docs/CONVERSION_PROGRESS.md
Due: check-markdown-links

chore(economic-agents): remove conversion progress doc
  packages/economic_agents/docs/CONVERSION_PROGRESS.md
Due: check-markdown-links

docs: update references for Rust-based economic_agents
  .github/workflows/main-ci.yml
  AGENTS.md
  CLAUDE.md
  README.md
  packages/economic_agents/README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  packages/economic_agents/crates/economic-agents-core/src/runner.rs
Due: none

fix(ci): process multiple issues sequentially with unique branches/PRs (#240)
  .github/actions/board-agent-work/action.yml
  .github/workflows/board-agent-worker.yml
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

fix: resolve CI pipeline failures
  docker/python-ci.Dockerfile
Due: none

feat(economic_agents): add 4 new crates for feature parity with Python
  packages/economic_agents/Cargo.lock
  packages/economic_agents/Cargo.toml
  packages/economic_agents/crates/economic-agents-observability/Cargo.toml
  packages/economic_agents/crates/economic-agents-observability/src/decision_analyzer.rs
  packages/economic_agents/crates/economic-agents-observability/src/emergent_behavior.rs
  packages/economic_agents/crates/economic-agents-observability/src/lib.rs
  packages/economic_agents/crates/economic-agents-observability/src/llm_quality.rs
  packages/economic_agents/crates/economic-agents-observability/src/risk_profiler.rs
  packages/economic_agents/crates/economic-agents-persistence/Cargo.toml
  packages/economic_agents/crates/economic-agents-persistence/src/lib.rs
  packages/economic_agents/crates/economic-agents-persistence/src/state_manager.rs
  packages/economic_agents/crates/economic-agents-reports/Cargo.toml
  packages/economic_agents/crates/economic-agents-reports/src/generator.rs
  packages/economic_agents/crates/economic-agents-reports/src/lib.rs
  packages/economic_agents/crates/economic-agents-reports/src/models.rs
  packages/economic_agents/crates/economic-agents-time/Cargo.toml
  packages/economic_agents/crates/economic-agents-time/src/clock.rs
  packages/economic_agents/crates/economic-agents-time/src/events.rs
  packages/economic_agents/crates/economic-agents-time/src/lib.rs
Due: none

feat(economic-agents): expand sub-agent intelligence with full behaviors
  packages/economic_agents/Cargo.lock
  packages/economic_agents/crates/economic-agents-company/Cargo.toml
  packages/economic_agents/crates/economic-agents-company/src/sub_agents.rs
Due: none

feat(economic-agents): implement LLM Decision Engine with Claude CLI
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/lib.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
Due: none

feat(economic-agents): add Task Execution system with Claude CLI
  packages/economic_agents/Cargo.lock
  packages/economic_agents/Cargo.toml
  packages/economic_agents/crates/economic-agents-tasks/Cargo.toml
  packages/economic_agents/crates/economic-agents-tasks/src/catalog.rs
  packages/economic_agents/crates/economic-agents-tasks/src/executor.rs
  packages/economic_agents/crates/economic-agents-tasks/src/lib.rs
  packages/economic_agents/crates/economic-agents-tasks/src/reviewer.rs
Due: none

docs(economic-agents): update README with new crates
  packages/economic_agents/README.md
Due: check-markdown-links

feat(economic-agents): implement task skill matching system
  packages/economic_agents/crates/economic-agents-cli/src/config.rs
  packages/economic_agents/crates/economic-agents-core/src/config.rs
  packages/economic_agents/crates/economic-agents-core/src/strategy.rs
  packages/economic_agents/crates/economic-agents-interfaces/src/types.rs
  packages/economic_agents/crates/economic-agents-mock/src/marketplace.rs
  packages/economic_agents/crates/economic-agents-tasks/src/catalog.rs
Due: none

feat(economic_agents): add CLI commands for persistence, reports, and observability
  packages/economic_agents/Cargo.lock
  packages/economic_agents/crates/economic-agents-cli/Cargo.toml
  packages/economic_agents/crates/economic-agents-cli/src/bin/economic-agents.rs
  packages/economic_agents/crates/economic-agents-observability/src/lib.rs
  packages/economic_agents/crates/economic-agents-persistence/src/lib.rs
  packages/economic_agents/crates/economic-agents-reports/src/lib.rs
Due: none

feat(economic-agents): implement sub-agent autonomy system
  packages/economic_agents/Cargo.lock
  packages/economic_agents/crates/economic-agents-company/Cargo.toml
  packages/economic_agents/crates/economic-agents-company/src/autonomy.rs
  packages/economic_agents/crates/economic-agents-company/src/lib.rs
  packages/economic_agents/crates/economic-agents-company/src/sub_agents.rs
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
Due: none

docs(economic-agents): add architecture and dashboard API documentation
  packages/economic_agents/README.md
  packages/economic_agents/docs/architecture.md
  packages/economic_agents/docs/dashboard-api.md
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  packages/economic_agents/crates/economic-agents-cli/src/bin/economic-agents.rs
  packages/economic_agents/crates/economic-agents-company/src/autonomy.rs
  packages/economic_agents/crates/economic-agents-company/src/lib.rs
  packages/economic_agents/crates/economic-agents-company/src/sub_agents.rs
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-core/src/strategy.rs
  packages/economic_agents/crates/economic-agents-mock/src/marketplace.rs
  packages/economic_agents/crates/economic-agents-tasks/src/catalog.rs
  packages/economic_agents/crates/economic-agents-tasks/src/reviewer.rs
Due: none

docs: streamline CLAUDE.md and AGENTS.md with links to detailed docs
  AGENTS.md
  CLAUDE.md
Due: check-markdown-links

docs(economic-agents): add policy and governance implications document
  AGENTS.md
  CLAUDE.md
  packages/economic_agents/README.md
  packages/economic_agents/docs/economic-implications.md
Due: check-markdown-links

docs: add reaction image example with visual rendering
  AGENTS.md
  CLAUDE.md
Due: check-markdown-links

feat(mcp-core-rust): add Rust MCP framework with reaction-search server
  docs/plans/mcp-rust-migration-plan.md
  packages/mcp_core_rust/Cargo.lock
  packages/mcp_core_rust/Cargo.toml
  packages/mcp_core_rust/README.md
  packages/mcp_core_rust/crates/mcp-client/Cargo.toml
  packages/mcp_core_rust/crates/mcp-client/src/lib.rs
  packages/mcp_core_rust/crates/mcp-core/Cargo.toml
  packages/mcp_core_rust/crates/mcp-core/examples/echo_server.rs
  packages/mcp_core_rust/crates/mcp-core/src/error.rs
  packages/mcp_core_rust/crates/mcp-core/src/jsonrpc.rs
  packages/mcp_core_rust/crates/mcp-core/src/lib.rs
  packages/mcp_core_rust/crates/mcp-core/src/server.rs
  packages/mcp_core_rust/crates/mcp-core/src/session.rs
  packages/mcp_core_rust/crates/mcp-core/src/tool.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/http.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/mod.rs
  packages/mcp_core_rust/crates/mcp-macros/Cargo.toml
  packages/mcp_core_rust/crates/mcp-macros/src/lib.rs
  packages/mcp_core_rust/crates/mcp-testing/Cargo.toml
  packages/mcp_core_rust/crates/mcp-testing/src/lib.rs
  packages/mcp_core_rust/servers/reaction-search/Cargo.toml
  packages/mcp_core_rust/servers/reaction-search/src/config.rs
  packages/mcp_core_rust/servers/reaction-search/src/engine.rs
  packages/mcp_core_rust/servers/reaction-search/src/main.rs
  packages/mcp_core_rust/servers/reaction-search/src/server.rs
  packages/mcp_core_rust/servers/reaction-search/src/types.rs
Due: check-markdown-links

chore(mcp-core-rust): add .gitignore for model cache
  packages/mcp_core_rust/.gitignore
Due: none

feat(mcp-core-rust): add multi-mode support (server and client modes)
  packages/mcp_core_rust/Cargo.lock
  packages/mcp_core_rust/crates/mcp-client/Cargo.toml
  packages/mcp_core_rust/crates/mcp-client/src/lib.rs
  packages/mcp_core_rust/crates/mcp-core/Cargo.toml
  packages/mcp_core_rust/crates/mcp-core/src/server.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/mod.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/rest.rs
Due: none

docs(mcp-core-rust): update migration plan with implementation progress
  docs/plans/mcp-rust-migration-plan.md
Due: check-markdown-links

feat(mcp-core-rust): add Docker containerization and CI integration
  automation/ci-cd/run-ci.sh
  docker-compose.yml
  packages/mcp_core_rust/crates/mcp-client/src/lib.rs
  packages/mcp_core_rust/crates/mcp-core/examples/echo_server.rs
  packages/mcp_core_rust/crates/mcp-core/src/lib.rs
  packages/mcp_core_rust/crates/mcp-core/src/server.rs
  packages/mcp_core_rust/crates/mcp-core/src/session.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/http.rs
  packages/mcp_core_rust/crates/mcp-core/src/transport/rest.rs
  packages/mcp_core_rust/crates/mcp-macros/src/lib.rs
  packages/mcp_core_rust/deny.toml
  packages/mcp_core_rust/servers/reaction-search/Dockerfile
  packages/mcp_core_rust/servers/reaction-search/src/config.rs
  packages/mcp_core_rust/servers/reaction-search/src/engine.rs
  packages/mcp_core_rust/servers/reaction-search/src/main.rs
  packages/mcp_core_rust/servers/reaction-search/src/server.rs
  packages/mcp_core_rust/servers/reaction-search/src/types.rs
Due: none

docs: update migration plan with Phase 4 completion
  docs/plans/mcp-rust-migration-plan.md
Due: check-markdown-links

refactor: move mcp_core_rust from packages/ to tools/mcp/
  automation/ci-cd/run-ci.sh
  docker-compose.yml
  docs/plans/mcp-rust-migration-plan.md
  tools/mcp/mcp_core_rust/.gitignore
  tools/mcp/mcp_core_rust/Cargo.lock
  tools/mcp/mcp_core_rust/Cargo.toml
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_core_rust/crates/mcp-client/Cargo.toml
  tools/mcp/mcp_core_rust/crates/mcp-client/src/lib.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/Cargo.toml
  tools/mcp/mcp_core_rust/crates/mcp-core/examples/echo_server.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/error.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/jsonrpc.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/lib.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/server.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/session.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/tool.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/mod.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/rest.rs
  tools/mcp/mcp_core_rust/crates/mcp-macros/Cargo.toml
  tools/mcp/mcp_core_rust/crates/mcp-macros/src/lib.rs
  tools/mcp/mcp_core_rust/crates/mcp-testing/Cargo.toml
  tools/mcp/mcp_core_rust/crates/mcp-testing/src/lib.rs
  tools/mcp/mcp_core_rust/deny.toml
  tools/mcp/mcp_core_rust/servers/reaction-search/Cargo.toml
  tools/mcp/mcp_core_rust/servers/reaction-search/Dockerfile
  tools/mcp/mcp_core_rust/servers/reaction-search/src/config.rs
  tools/mcp/mcp_core_rust/servers/reaction-search/src/engine.rs
  tools/mcp/mcp_core_rust/servers/reaction-search/src/main.rs
  tools/mcp/mcp_core_rust/servers/reaction-search/src/server.rs
  tools/mcp/mcp_core_rust/servers/reaction-search/src/types.rs
Due: check-markdown-links

refactor: replace Python mcp_reaction_search with Rust implementation
  docker-compose.yml
  docker/mcp-reaction-search.Dockerfile
  tools/mcp/mcp_core_rust/Cargo.toml
  tools/mcp/mcp_core_rust/servers/reaction-search/Cargo.toml
  tools/mcp/mcp_reaction_search/Cargo.lock
  tools/mcp/mcp_reaction_search/Cargo.toml
  tools/mcp/mcp_reaction_search/Dockerfile
  tools/mcp/mcp_reaction_search/README.md
  tools/mcp/mcp_reaction_search/mcp_reaction_search/__init__.py
  tools/mcp/mcp_reaction_search/mcp_reaction_search/config_loader.py
  tools/mcp/mcp_reaction_search/mcp_reaction_search/search_engine.py
  tools/mcp/mcp_reaction_search/mcp_reaction_search/server.py
  tools/mcp/mcp_reaction_search/mcp_reaction_search/tools.py
  tools/mcp/mcp_reaction_search/pyproject.toml
  tools/mcp/mcp_reaction_search/scripts/test_server.py
  tools/mcp/mcp_reaction_search/src/config.rs
  tools/mcp/mcp_reaction_search/src/engine.rs
  tools/mcp/mcp_reaction_search/src/main.rs
  tools/mcp/mcp_reaction_search/src/server.rs
  tools/mcp/mcp_reaction_search/src/types.rs
  tools/mcp/mcp_reaction_search/tests/test_reaction_search.py
Due: ty, check-markdown-links

docs: update reaction-search documentation for Rust implementation
  README.md
  docs/mcp/servers.md
Due: check-markdown-links

ci: add mcp-reaction-search to GitHub release artifacts
  .github/workflows/main-ci.yml
Due: none
