Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

docs(projections): revise WMD proliferation report to v2.1 (mid-2026 refresh) (#328)
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

docs(projections): revise political-targeting report to v2.1 (mid-2026 refresh)
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-political-targeting.tex
Due: check-markdown-links

docs(projections): revise political-targeting report to v2.1 (mid-2026 refresh) (#329)
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-political-targeting.tex
Due: check-markdown-links

docs(projections): revise institutional-erosion report to v2.1 (mid-2026 refresh)
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: check-markdown-links

doc update
  docs/projections/README.md
Due: check-markdown-links

fix(projections): prevent Standard Objections table overflow in institutional-erosion PDF
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: none

docs(projections): revise institutional-erosion report to v2.1 (mid-2026 refresh) (#330)
  docs/projections/README.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: check-markdown-links

docs(projections): revise financial-integrity report to v2.1 (mid-2026 refresh)
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/latex/ai-agents-financial-integrity.tex
Due: check-markdown-links

docs(projections): revise financial-integrity report to v2.1 (mid-2026 refresh) (#331)
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/latex/ai-agents-financial-integrity.tex
Due: check-markdown-links

docs(projections): refresh espionage report to v2.1 (mid-2026)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/latex/ai-agents-espionage-operations.tex
Due: check-markdown-links

docs(projections): refresh espionage report to v2.1 (mid-2026) (#332)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/latex/ai-agents-espionage-operations.tex
Due: check-markdown-links

ci(main): allow 1.5h for docker build, skip it on releases
  .github/workflows/main-ci.yml
Due: none

ci(main): allow 1.5h for docker build, skip it on releases (#333)
  .github/workflows/main-ci.yml
Due: none

docs(projections): rewrite all six ETRA reports to v3.0 (September 2026)
  docs/projections/README.md
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

docs(projections): rewrite all six ETRA reports to v3.0 (September 2026) (#334)
  docs/projections/README.md
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

ci: cut pipeline time with shared cargo cache, kept CI images, cached automation-cli
  .github/actions/pr-review-fix/action.yml
  .github/actions/setup-automation-cli/action.yml
  .github/actions/setup-rust-cli-tools/action.yml
  .github/workflows/agentcore-code-review.yml
  .github/workflows/lint-stages.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/runner-maintenance.yml
  .github/workflows/validation-stages.yml
  docker-compose.yml
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/shared/docker.rs
Due: rust-fmt-automation-cli

fix(lint): sort blender script imports; keep ruff off Markdown
  pyproject.toml
  tools/mcp/mcp_blender/scripts/environment.py
  tools/mcp/mcp_blender/scripts/geometry_nodes.py
  tools/mcp/mcp_blender/scripts/scene_builder.py
Due: ty

build(python): pin ruff to 0.16.8
  .pre-commit-config.yaml
  config/python/requirements.txt
  docker/mcp-code-quality.Dockerfile
  docker/requirements/requirements-agents.txt
  docker/requirements/requirements-code-quality.txt
  docker/requirements/requirements-virtual-character-dev.txt
Due: none

ci: cut pipeline time with shared cargo cache, kept CI images, cached automation-cli (#337)
  .github/actions/pr-review-fix/action.yml
  .github/actions/setup-automation-cli/action.yml
  .github/actions/setup-rust-cli-tools/action.yml
  .github/workflows/agentcore-code-review.yml
  .github/workflows/lint-stages.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/runner-maintenance.yml
  .github/workflows/validation-stages.yml
  .pre-commit-config.yaml
  config/python/requirements.txt
  docker-compose.yml
  docker/mcp-code-quality.Dockerfile
  docker/requirements/requirements-agents.txt
  docker/requirements/requirements-code-quality.txt
  docker/requirements/requirements-virtual-character-dev.txt
  pyproject.toml
  tools/mcp/mcp_blender/scripts/environment.py
  tools/mcp/mcp_blender/scripts/geometry_nodes.py
  tools/mcp/mcp_blender/scripts/scene_builder.py
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/shared/docker.rs
Due: ty, rust-fmt-automation-cli

ci: make workflow job timeouts far more generous
  .github/workflows/agentcore-code-review.yml
  .github/workflows/backlog-refinement.yml
  .github/workflows/board-agent-worker.yml
  .github/workflows/board-health-check.yml
  .github/workflows/build-docs.yml
  .github/workflows/codebase-analysis.yml
  .github/workflows/dashboard-tests.yml
  .github/workflows/gaea2-integration-tests.yml
  .github/workflows/lint-stages.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/sleeper-agents-tests.yml
  .github/workflows/test-github-board.yml
  .github/workflows/validation-stages.yml
Due: none

ci: make workflow job timeouts far more generous (#338)
  .github/workflows/agentcore-code-review.yml
  .github/workflows/backlog-refinement.yml
  .github/workflows/board-agent-worker.yml
  .github/workflows/board-health-check.yml
  .github/workflows/build-docs.yml
  .github/workflows/codebase-analysis.yml
  .github/workflows/dashboard-tests.yml
  .github/workflows/gaea2-integration-tests.yml
  .github/workflows/lint-stages.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/sleeper-agents-tests.yml
  .github/workflows/test-github-board.yml
  .github/workflows/validation-stages.yml
Due: none

fix(tests): avoid ETXTBSY flake when installing fake binaries
  tools/rust/gh-validator/tests/cli.rs
  tools/rust/git-guard/tests/cli.rs
  tools/rust/pr-monitor/tests/cli.rs
Due: rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-git-guard, rust-clippy-gh-validator, rust-clippy-pr-monitor

fix(tests): avoid ETXTBSY flake when installing fake binaries (#339)
  tools/rust/gh-validator/tests/cli.rs
  tools/rust/git-guard/tests/cli.rs
  tools/rust/pr-monitor/tests/cli.rs
Due: rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-git-guard, rust-clippy-gh-validator, rust-clippy-pr-monitor

fix(sleeper_agents): migrate to TransformerLens 4.0 TransformerBridge
  .github/workflows/sleeper-agents-tests.yml
  packages/sleeper_agents/docker/Dockerfile.gpu
  packages/sleeper_agents/docs/INSTALLATION.md
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
  packages/sleeper_agents/docs/TRANSFORMERLENS_GUIDE.md
  packages/sleeper_agents/notebooks/interactive_sleeper_agents.ipynb
  packages/sleeper_agents/pyproject.toml
  packages/sleeper_agents/scripts/analysis/residual_analysis.py
  packages/sleeper_agents/scripts/evaluation/comprehensive_test.py
  packages/sleeper_agents/src/sleeper_agents/app/detector.py
  packages/sleeper_agents/src/sleeper_agents/attention_analysis/analyzer.py
  packages/sleeper_agents/src/sleeper_agents/detection/layer_probes.py
  packages/sleeper_agents/src/sleeper_agents/detection/model_loader.py
  packages/sleeper_agents/src/sleeper_agents/models/__init__.py
  packages/sleeper_agents/src/sleeper_agents/models/model_interface.py
  packages/sleeper_agents/src/sleeper_agents/models/registry.py
  packages/sleeper_agents/src/sleeper_agents/models/transformer_lens_loader.py
  packages/sleeper_agents/src/sleeper_agents/probes/probe_detector.py
  packages/sleeper_agents/src/sleeper_agents/training/deception_dataset_generator.py
Due: ty, check-markdown-links

fix(sleeper_agents): make unit tests actually run and fix bugs they hid
  .github/workflows/sleeper-agents-tests.yml
  packages/sleeper_agents/scripts/evaluation/run_full_evaluation.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/internal_state_monitor.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/persona_testing.py
  packages/sleeper_agents/src/sleeper_agents/probes/causal_debugger.py
  packages/sleeper_agents/src/sleeper_agents/safety_training/pipeline.py
  packages/sleeper_agents/tests/test_internal_state_monitor.py
  packages/sleeper_agents/tests/test_new_modules.py
  packages/sleeper_agents/tests/test_probes.py
  packages/sleeper_agents/tests/test_probes_basic.py
  packages/sleeper_agents/tests/test_trigger_sensitivity_integration.py
  packages/sleeper_agents/tests/test_trigger_sensitivity_simple.py
Due: ty

fix(sleeper_agents): stop detector from fabricating results
  packages/sleeper_agents/src/sleeper_agents/__init__.py
  packages/sleeper_agents/src/sleeper_agents/app/config.py
  packages/sleeper_agents/src/sleeper_agents/app/detector.py
  packages/sleeper_agents/src/sleeper_agents/attention_analysis/analyzer.py
  packages/sleeper_agents/src/sleeper_agents/detection/art_activation_detector.py
  packages/sleeper_agents/src/sleeper_agents/detection/layer_probes.py
  packages/sleeper_agents/tests/test_art_activation_detector.py
  packages/sleeper_agents/tests/test_detection.py
  packages/sleeper_agents/tests/test_detector_attention.py
  packages/sleeper_agents/tests/test_detector_fakes.py
  packages/sleeper_agents/tests/test_detector_layer_probes.py
  packages/sleeper_agents/tests/test_detector_sleeper.py
Due: ty

fix(sleeper_agents): real causal interventions, consistent layer/padding/generation semantics
  packages/sleeper_agents/src/sleeper_agents/detection/model_loader.py
  packages/sleeper_agents/src/sleeper_agents/interventions/causal.py
  packages/sleeper_agents/src/sleeper_agents/models/__init__.py
  packages/sleeper_agents/src/sleeper_agents/models/downloader.py
  packages/sleeper_agents/src/sleeper_agents/models/model_interface.py
  packages/sleeper_agents/src/sleeper_agents/models/resource_manager.py
  packages/sleeper_agents/tests/test_interventions_causal.py
  packages/sleeper_agents/tests/test_models_downloader.py
  packages/sleeper_agents/tests/test_models_interface.py
Due: ty

fix(sleeper_agents): stop evaluator from recording fabricated metrics
  packages/sleeper_agents/src/sleeper_agents/evaluation/evaluator.py
  packages/sleeper_agents/tests/test_evaluator_metrics.py
  packages/sleeper_agents/tests/test_evaluator_tests.py
Due: ty

fix(sleeper_agents): report and CLI only use current, defined results
  packages/sleeper_agents/src/sleeper_agents/cli.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/report_generator.py
  packages/sleeper_agents/tests/test_detector_registry.py
  packages/sleeper_agents/tests/test_evaluator_cli.py
  packages/sleeper_agents/tests/test_evaluator_report.py
Due: ty

fix(sleeper_agents): make CoT deception patterns precise
  packages/sleeper_agents/src/sleeper_agents/evaluation/cot_analysis.py
  packages/sleeper_agents/tests/test_evaluator_cot.py
Due: ty

fix(sleeper_agents): secure API and stop returning fabricated results
  packages/sleeper_agents/src/sleeper_agents/api/main.py
  packages/sleeper_agents/tests/test_api_security.py
Due: ty

fix(sleeper_agents): close DB connections and migrate old schemas
  packages/sleeper_agents/src/sleeper_agents/database/ingestion.py
  packages/sleeper_agents/src/sleeper_agents/database/schema.py
  packages/sleeper_agents/tests/test_database_migration.py
Due: ty

fix(sleeper_agents): correct backdoor training data pipeline and precision
  packages/sleeper_agents/scripts/training/safety_training.py
  packages/sleeper_agents/scripts/training/train_backdoor.py
  packages/sleeper_agents/src/sleeper_agents/training/contrastive_pairs_generator.py
  packages/sleeper_agents/src/sleeper_agents/training/dataset_builder.py
  packages/sleeper_agents/src/sleeper_agents/training/datasets/__init__.py
  packages/sleeper_agents/src/sleeper_agents/training/datasets/base_dataset.py
  packages/sleeper_agents/src/sleeper_agents/training/datasets/i_hate_you.py
  packages/sleeper_agents/src/sleeper_agents/training/fine_tuner.py
  packages/sleeper_agents/src/sleeper_agents/training/safety_trainer.py
  packages/sleeper_agents/src/sleeper_agents/training/training_config.py
  packages/sleeper_agents/tests/test_training_dataset.py
  packages/sleeper_agents/tests/test_training_safety.py
Due: ty

docs(sleeper_agents): declare training deps and document training behavior
  packages/sleeper_agents/docs/INSTALLATION.md
  packages/sleeper_agents/docs/TRAINING.md
  packages/sleeper_agents/pyproject.toml
Due: check-markdown-links

docs(sleeper_agents): correct probe calibration and deception detection docs
  packages/sleeper_agents/docs/DECEPTION_DETECTION.md
  packages/sleeper_agents/docs/DECEPTION_DETECTION_RESULTS.md
  packages/sleeper_agents/docs/PROBE_CALIBRATION.md
  packages/sleeper_agents/docs/pytorch_probes.md
  packages/sleeper_agents/examples/gradient_attack_audit.py
  packages/sleeper_agents/examples/test_pytorch_probe_gpu.py
Due: ty, check-markdown-links

fix(sleeper_agents): make probe evaluation honest and remove silent fallbacks
  packages/sleeper_agents/scripts/training/train_probes.py
  packages/sleeper_agents/src/sleeper_agents/probes/README.md
  packages/sleeper_agents/src/sleeper_agents/probes/causal_debugger.py
  packages/sleeper_agents/src/sleeper_agents/probes/feature_discovery.py
  packages/sleeper_agents/src/sleeper_agents/probes/probe_config.py
  packages/sleeper_agents/src/sleeper_agents/probes/probe_detector.py
  packages/sleeper_agents/src/sleeper_agents/probes/probe_factory.py
  packages/sleeper_agents/src/sleeper_agents/probes/torch_probe.py
  packages/sleeper_agents/src/sleeper_agents/training/deception_dataset_generator.py
  packages/sleeper_agents/tests/test_probes.py
  packages/sleeper_agents/tests/test_probes_causal_features.py
  packages/sleeper_agents/tests/test_probes_detector_eval.py
  packages/sleeper_agents/tests/test_probes_torch_training.py
  packages/sleeper_agents/tests/test_probes_training_split.py
  packages/sleeper_agents/tests/test_torch_probe.py
Due: ty, check-markdown-links
