Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

ty:
  name: ty type check
  entry: docker-compose --profile ci run --rm python-ci ty check
  language: system
  pass_filenames: false

rust-fmt-gh-validator:
  name: Rust format gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-pr-monitor:
  name: Rust format pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-injection-toolkit:
  name: Rust format injection-toolkit
  entry: docker-compose --profile ci run --rm rust-ci cargo fmt --all -- --check
  language: system
  pass_filenames: false

rust-clippy-gh-validator:
  name: Rust lint gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-pr-monitor:
  name: Rust lint pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-injection-toolkit:
  name: Rust lint injection-toolkit
  entry: docker-compose --profile ci run --rm rust-ci cargo clippy --workspace --all-targets --exclude itk-native-dll --exclude nms-video-launcher --exclude nms-video-overlay --exclude nms-cockpit-injector -- -D warnings
  language: system
  pass_filenames: false

check-markdown-links:
  name: Check markdown links (Rust)
  ...

fix: collapse nested if-let to satisfy clippy collapsible_if lint (#282)
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/handler.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/stdio.rs
Due: none

fix: collapse nested if-let in tamper-gate to satisfy clippy collapsible_if lint
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
Due: none

feat: add tamper_briefcase and bioforge CI jobs to PR validation pipeline
  .github/workflows/pr-validation.yml
Due: none

chore: remove dead Python link checker and tmux script
  automation/analysis/check-markdown-links.py
  tools/cli/__init__.py
  tools/cli/utilities/__init__.py
  tools/cli/utilities/markdown_link_checker.py
  tools/cli/utilities/run_tmux.sh
Due: ty

fix: collapse nested if-let in tamper-gate for clippy lint (#283)
  .github/workflows/pr-validation.yml
  automation/analysis/check-markdown-links.py
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
  tools/cli/__init__.py
  tools/cli/utilities/__init__.py
  tools/cli/utilities/markdown_link_checker.py
  tools/cli/utilities/run_tmux.sh
Due: ty

fix: collapse nested if-let in MCP servers for clippy collapsible_if lint
  tools/mcp/mcp_blender/src/blender.rs
  tools/mcp/mcp_blender/src/jobs.rs
  tools/mcp/mcp_blender/src/server.rs
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_memory_explorer/src/explorer.rs
Due: none

feat: enable kernel mode and add live status bar, exception handler, clock control
  packages/oasis_os/crates/oasis-backend-psp/Cargo.lock
  packages/oasis_os/crates/oasis-backend-psp/Cargo.toml
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

feat: add volatile mem texture cache, file manager, and power callbacks
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

fix: use floor_char_boundary to prevent UTF-8 panic in diff truncation
  tools/rust/github-agents-cli/src/review/prompt.rs
Due: none

feat: add hardware JPEG photo viewer and MP3 music player
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

fix: collapse nested if-let in MCP servers for clippy collapsible_if lint (#284)
  tools/mcp/mcp_blender/src/blender.rs
  tools/mcp/mcp_blender/src/jobs.rs
  tools/mcp/mcp_blender/src/server.rs
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_memory_explorer/src/explorer.rs
Due: none

chore: point psp dependency to main branch of rust-psp
  packages/oasis_os/crates/oasis-backend-psp/Cargo.lock
  packages/oasis_os/crates/oasis-backend-psp/Cargo.toml
Due: none

fix: resolve MCP servers rustfmt failure, add MCP servers CI to PR validation
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  automation/hooks/fmt-mcp-servers.sh
  tools/mcp/mcp_memory_explorer/src/explorer.rs
Due: none

fix: address AI review feedback (iteration 1)
  .pre-commit-config.yaml
  automation/hooks/fmt-mcp-servers.sh
Due: none

fix: resolve MCP servers rustfmt CI failure, add MCP servers to PR validation (#285)
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  automation/hooks/fmt-mcp-servers.sh
  tools/mcp/mcp_memory_explorer/src/explorer.rs
Due: none

feat: switch oasis-backend-psp from no_std to std, import types from oasis-core
  packages/oasis_os/crates/oasis-backend-psp/Cargo.lock
  packages/oasis_os/crates/oasis-backend-psp/Cargo.toml
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

fix: update PPSSPP volume mount for std build output directory
  docker-compose.yml
Due: none

docs: update OASIS_OS docs for no_std to std migration
  packages/oasis_os/README.md
  packages/oasis_os/crates/oasis-backend-psp/build.sh
  packages/oasis_os/docs/design.md
Due: check-markdown-links

feat: add floating windows, background audio/IO threads to PSP backend
  packages/oasis_os/crates/oasis-backend-psp/.gitignore
  packages/oasis_os/crates/oasis-backend-psp/Cargo.lock
  packages/oasis_os/crates/oasis-backend-psp/Cargo.toml
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
  packages/oasis_os/docs/design.md
Due: check-markdown-links

fix: resolve code-parser collapsible_if clippy lint, add missing CI coverage
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  tools/rust/code-parser/src/lib.rs
Due: none

fix: merge audio + IO into single worker thread to avoid PSP TLS crash
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

fix: resolve code-parser collapsible_if clippy lint, add missing CI coverage (#286)
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  tools/rust/code-parser/src/lib.rs
Due: none

feat: wire WindowManager into oasis-app and PSP backend for windowed app launch
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
  packages/oasis_os/crates/oasis-core/src/apps/runner.rs
  packages/oasis_os/skins/classic/features.toml
Due: none

refactor: move OASIS_OS to dedicated repo (#287)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/agents/README.md
  tools/rust/github-agents-cli/src/review/prompt.rs
Due: check-markdown-links

fix: resolve wrapper-common audit test race condition in parallel test execution
  tools/rust/wrapper-common/src/audit.rs
Due: none

fix: resolve wrapper-common audit test race condition in parallel test execution (#288)
  tools/rust/wrapper-common/src/audit.rs
Due: none

refactor: extract PR review into 3 reusable composite actions
  .github/actions/codex-review/action.yml
  .github/actions/gemini-review/action.yml
  .github/actions/pr-review-fix/action.yml
  .github/actions/setup-rust-cli-tools/action.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/pr-validation.yml
Due: none

docs: update workflow handout with composable actions and feedback loops
  docs/agents/Agentic_Workflow_Handout.tex
Due: none

docs: expand Agent Council to 2x2 pluggable grid with customized agents
  docs/agents/Agentic_Workflow_Handout.tex
Due: none

fix: address AI review feedback (iteration 1)
  .github/actions/pr-review-fix/action.yml
Due: none

refactor: extract PR review into reusable composite actions (#289)
  .github/actions/codex-review/action.yml
  .github/actions/gemini-review/action.yml
  .github/actions/pr-review-fix/action.yml
  .github/actions/setup-rust-cli-tools/action.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/pr-validation.yml
  docs/agents/Agentic_Workflow_Handout.tex
Due: none

docs: update integration guides to reflect Python-to-Rust migration
  docs/integrations/ai-services/AgentCore_Memory_Integration_Guide.tex
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
  docs/integrations/ai-services/agentcore-memory-integration.md
  docs/integrations/ai-services/ai-code-agents.md
  docs/integrations/creative-tools/virtual-character-elevenlabs.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  docs/integrations/creative-tools/virtual-character-elevenlabs.md
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
  docs/integrations/creative-tools/virtual-character-elevenlabs.md
Due: check-markdown-links

fix: address AI review feedback (iteration 3)
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
Due: none

fix: resolve pipefail+SIGPIPE breaking rate limit detection in review actions
  .github/actions/codex-review/action.yml
  .github/actions/gemini-review/action.yml
  tools/rust/github-agents-cli/src/review/agents/codex.rs
Due: none

docs: update integration guides + fix pipefail SIGPIPE in review actions (#290)
  .github/actions/codex-review/action.yml
  .github/actions/gemini-review/action.yml
  docs/integrations/ai-services/AgentCore_Memory_Integration_Guide.tex
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
  docs/integrations/ai-services/agentcore-memory-integration.md
  docs/integrations/ai-services/ai-code-agents.md
  docs/integrations/creative-tools/virtual-character-elevenlabs.md
  tools/rust/github-agents-cli/src/review/agents/codex.rs
Due: check-markdown-links

update: Codex CLI to 0.101.0, model to gpt-5.3-codex with xhigh reasoning
  .agents.yaml
  docker/codex.Dockerfile
  tools/mcp/mcp_codex/src/codex.rs
  tools/mcp/mcp_codex/src/types.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
  tools/rust/github-agents-cli/src/review/agents/codex.rs
Due: none

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$
