Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: remove duplicate binary name for reaction-search MCP config
  .mcp.json
  .mcp.json.full
Due: none

fix: treat API unavailability as warning, not failure in AI reviews
  .github/workflows/ai-code-review.yml
Due: none

fix(ci): increase Rust binary build timeout from 30m to 60m
  .github/workflows/main-ci.yml
Due: none

fix: address AI review feedback (iteration 0)
  tools/rust/board-manager/src/cli.rs
  tools/rust/board-manager/src/client.rs
  tools/rust/board-manager/src/manager.rs
  tools/rust/code-parser/src/lib.rs
  tools/rust/code-review-processor/src/github.rs
  tools/rust/code-review-processor/src/main.rs
  tools/rust/code-review-processor/src/processor.rs
  tools/rust/git-guard/src/main.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
  tools/rust/github-agents-cli/src/analyzers/base.rs
  tools/rust/github-agents-cli/src/creators/issue.rs
  tools/rust/github-agents-cli/src/iteration/mod.rs
  tools/rust/github-agents-cli/src/main.rs
  tools/rust/github-agents-cli/src/monitor/base.rs
  tools/rust/github-agents-cli/src/monitor/issue.rs
  tools/rust/github-agents-cli/src/monitor/pr.rs
  tools/rust/github-agents-cli/src/monitor/refinement.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/config.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
  tools/rust/github-agents-cli/src/utils/github.rs
  tools/rust/markdown-link-checker/src/main.rs
  tools/rust/mcp-code-quality/src/error.rs
  tools/rust/mcp-code-quality/src/main.rs
  tools/rust/mcp-code-quality/src/security.rs
  tools/rust/mcp-code-quality/src/server.rs
  tools/rust/mcp-code-quality/src/subprocess.rs
  tools/rust/mcp-code-quality/src/tools/format.rs
  tools/rust/mcp-code-quality/src/tools/lint.rs
  tools/rust/mcp-code-quality/src/tools/mod.rs
  tools/rust/mcp-code-quality/src/tools/status.rs
  tools/rust/mcp-code-quality/src/tools/test.rs
  tools/rust/pr-monitor/src/main.rs
Due: rust-fmt-pr-monitor, rust-clippy-pr-monitor

fix(ci): increase Rust binary build timeout to 60 minutes (#267)
  .github/workflows/main-ci.yml
  tools/rust/board-manager/src/cli.rs
  tools/rust/board-manager/src/client.rs
  tools/rust/board-manager/src/manager.rs
  tools/rust/code-parser/src/lib.rs
  tools/rust/code-review-processor/src/github.rs
  tools/rust/code-review-processor/src/main.rs
  tools/rust/code-review-processor/src/processor.rs
  tools/rust/git-guard/src/main.rs
  tools/rust/github-agents-cli/src/agents/cli.rs
  tools/rust/github-agents-cli/src/analyzers/base.rs
  tools/rust/github-agents-cli/src/creators/issue.rs
  tools/rust/github-agents-cli/src/iteration/mod.rs
  tools/rust/github-agents-cli/src/main.rs
  tools/rust/github-agents-cli/src/monitor/base.rs
  tools/rust/github-agents-cli/src/monitor/issue.rs
  tools/rust/github-agents-cli/src/monitor/pr.rs
  tools/rust/github-agents-cli/src/monitor/refinement.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/config.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
  tools/rust/github-agents-cli/src/utils/github.rs
  tools/rust/markdown-link-checker/src/main.rs
  tools/rust/mcp-code-quality/src/error.rs
  tools/rust/mcp-code-quality/src/main.rs
  tools/rust/mcp-code-quality/src/security.rs
  tools/rust/mcp-code-quality/src/server.rs
  tools/rust/mcp-code-quality/src/subprocess.rs
  tools/rust/mcp-code-quality/src/tools/format.rs
  tools/rust/mcp-code-quality/src/tools/lint.rs
  tools/rust/mcp-code-quality/src/tools/mod.rs
  tools/rust/mcp-code-quality/src/tools/status.rs
  tools/rust/mcp-code-quality/src/tools/test.rs
  tools/rust/pr-monitor/src/main.rs
Due: rust-fmt-pr-monitor, rust-clippy-pr-monitor

fix(mcp): correct blender server command in .mcp.json
  .mcp.json
Due: none

fix(blender): add ARM64 support and fix Blender 4.5 script compatibility
  docker/blender-mcp.Dockerfile
  tools/mcp/mcp_blender/scripts/camera_tools.py
  tools/mcp/mcp_blender/scripts/modifiers.py
  tools/mcp/mcp_blender/scripts/particles.py
  tools/mcp/mcp_blender/scripts/scene_builder.py
Due: ty

fix(blender): MCP config, ARM64 support, and Blender 4.5 script fixes (#268)
  .mcp.json
  docker/blender-mcp.Dockerfile
  tools/mcp/mcp_blender/scripts/camera_tools.py
  tools/mcp/mcp_blender/scripts/modifiers.py
  tools/mcp/mcp_blender/scripts/particles.py
  tools/mcp/mcp_blender/scripts/scene_builder.py
Due: ty

docs: clarify repo purpose, add CONTRIBUTING.md, improve quickstart guide
  CONTRIBUTING.md
  README.md
  docs/QUICKSTART.md
Due: check-markdown-links

docs: clarify repo purpose, add CONTRIBUTING.md, improve quickstart guide (#269)
  CONTRIBUTING.md
  README.md
  docs/QUICKSTART.md
Due: check-markdown-links

docs: add legal distance disclaimers across repo and LaTeX documents
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/QUICKSTART.md
  docs/projections/README.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: check-markdown-links

docs: add legal distance disclaimers across repo and LaTeX documents (#270)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/pull_request_template.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/QUICKSTART.md
  docs/projections/README.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: check-markdown-links

docs: clarify independent authorship, update validation claims, expand SECURITY.md
  README.md
  SECURITY.md
  docs/projections/README.md
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  docs/projections/ai-agents-espionage-operations.md
Due: check-markdown-links

fix: add fallback rebuild for sleeper agents Docker image
  .github/workflows/sleeper-agents-tests.yml
Due: none

ci: consolidate doc builds into single job, move under pr-validation
  .github/workflows/build-docs.yml
  .github/workflows/pr-validation.yml
Due: none

docs+ci: clarify independent authorship, fix sleeper agent builds, consolidate doc pipeline (#271)
  .github/workflows/build-docs.yml
  .github/workflows/pr-validation.yml
  .github/workflows/sleeper-agents-tests.yml
  README.md
  SECURITY.md
  docs/projections/README.md
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/README.md
Due: check-markdown-links

feat: add tamper-responsive briefcase system with PQC recovery
  CLAUDE.md
  docs/README.md
  docs/hardware/README.md
  docs/hardware/secure-terminal-briefcase.md
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/Cargo.toml
  packages/tamper_briefcase/README.md
  packages/tamper_briefcase/crates/tamper-challenge/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-common/Cargo.toml
  packages/tamper_briefcase/crates/tamper-common/src/lib.rs
  packages/tamper_briefcase/crates/tamper-gate/Cargo.toml
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/Cargo.toml
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/unwrap.rs
  packages/tamper_briefcase/crates/tamper-sensor/Cargo.toml
  packages/tamper_briefcase/crates/tamper-sensor/src/main.rs
  packages/tamper_briefcase/deploy/setup.sh
  packages/tamper_briefcase/scripts/recovery_launcher.sh
  packages/tamper_briefcase/scripts/wipe_drive.sh
  packages/tamper_briefcase/systemd/tamper-gate.service
  packages/tamper_briefcase/systemd/tamper-sensor.service
  packages/tamper_briefcase/systemd/tamper-wipe.service
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
Due: none

fix: address AI review feedback (iteration 1)
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/unwrap.rs
Due: none

feat: add tamper-responsive briefcase system with PQC recovery (#272)
  CLAUDE.md
  docs/README.md
  docs/hardware/README.md
  docs/hardware/secure-terminal-briefcase.md
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/Cargo.toml
  packages/tamper_briefcase/README.md
  packages/tamper_briefcase/crates/tamper-challenge/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-common/Cargo.toml
  packages/tamper_briefcase/crates/tamper-common/src/lib.rs
  packages/tamper_briefcase/crates/tamper-gate/Cargo.toml
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/Cargo.toml
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/unwrap.rs
  packages/tamper_briefcase/crates/tamper-sensor/Cargo.toml
  packages/tamper_briefcase/crates/tamper-sensor/src/main.rs
  packages/tamper_briefcase/deploy/setup.sh
  packages/tamper_briefcase/scripts/recovery_launcher.sh
  packages/tamper_briefcase/scripts/wipe_drive.sh
  packages/tamper_briefcase/systemd/tamper-gate.service
  packages/tamper_briefcase/systemd/tamper-sensor.service
  packages/tamper_briefcase/systemd/tamper-wipe.service
Due: check-markdown-links

docs: expand BioForge LaTeX to 24-page technical reference
  docs/hardware/latex/bioforge-crispr-automation.tex
Due: none

fix diagrams
  docs/hardware/latex/bioforge-crispr-automation.tex
Due: none

docs: fix BioForge LaTeX diagrams, add to README and CI builds
  .github/workflows/build-docs.yml
  .github/workflows/main-ci.yml
  README.md
  docs/hardware/latex/bioforge-crispr-automation.tex
Due: check-markdown-links

fix: harden BioForge safety, audit, protocol, and MCP tool validation
  packages/bioforge/Cargo.lock
  packages/bioforge/crates/bioforge-hal/src/motion.rs
  packages/bioforge/crates/bioforge-protocol/src/lib.rs
  packages/bioforge/crates/bioforge-safety/Cargo.toml
  packages/bioforge/crates/bioforge-safety/src/audit.rs
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
  tools/mcp/mcp_bioforge/src/tools.rs
Due: none

fix: guard validate_overshoot against NaN target_c
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
Due: none

fix: add absolute_max_c guard, ColonyCounter validation, richer errors
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
  packages/bioforge/crates/bioforge-types/src/error.rs
  packages/bioforge/crates/bioforge-vision/src/lib.rs
Due: none

feat: stateful SafetyEnforcer with MCP tool integration (Phase 2)
  packages/bioforge/config/safety_limits.toml
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
  packages/bioforge/crates/bioforge-types/src/config.rs
  tools/mcp/mcp_bioforge/Cargo.lock
  tools/mcp/mcp_bioforge/Cargo.toml
  tools/mcp/mcp_bioforge/src/main.rs
  tools/mcp/mcp_bioforge/src/tools.rs
Due: none

docs: update BioForge docs for Phase 2 safety enforcer changes
  docs/hardware/bioforge-crispr-automation.md
  docs/hardware/latex/bioforge-crispr-automation.tex
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  automation/ci-cd/run-ci.sh
  packages/bioforge/crates/bioforge-vision/src/lib.rs
  tools/mcp/mcp_bioforge/src/tools.rs
Due: none

fix: clean up stale Docker networks to prevent address pool exhaustion
  .github/actions/docker-compose-health-check/action.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
Due: none

fix: address AI review feedback (iteration 2)
  automation/ci-cd/run-ci.sh
Due: none

feat: add tamper-briefcase tests, CI stages, and LaTeX documentation
  .github/workflows/build-docs.yml
  README.md
  automation/ci-cd/run-ci.sh
  docs/hardware/latex/secure-terminal-briefcase.tex
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-common/Cargo.toml
  packages/tamper_briefcase/crates/tamper-common/src/lib.rs
  packages/tamper_briefcase/crates/tamper-recovery/Cargo.toml
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/unwrap.rs
  packages/tamper_briefcase/crates/tamper-sensor/Cargo.toml
  packages/tamper_briefcase/crates/tamper-sensor/src/main.rs
  packages/tamper_briefcase/crates/tamper-sensor/src/sensor.rs
  packages/tamper_briefcase/deny.toml
Due: check-markdown-links

docs: refine secure-terminal-briefcase LaTeX diagrams and pagination
  docs/hardware/latex/secure-terminal-briefcase.tex
Due: none

fix: resolve LaTeX build errors in secure-terminal-briefcase
  docs/hardware/latex/secure-terminal-briefcase.tex
Due: none

feat: add tamper-briefcase tests, CI stages, and LaTeX documentation (#274)
  .github/workflows/build-docs.yml
  README.md
  automation/ci-cd/run-ci.sh
  docs/hardware/latex/secure-terminal-briefcase.tex
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/Cargo.toml
  packages/tamper_briefcase/crates/tamper-challenge/src/main.rs
  packages/tamper_briefcase/crates/tamper-common/Cargo.toml
  packages/tamper_briefcase/crates/tamper-common/src/lib.rs
  packages/tamper_briefcase/crates/tamper-recovery/Cargo.toml
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/unwrap.rs
  packages/tamper_briefcase/crates/tamper-sensor/Cargo.toml
  packages/tamper_briefcase/crates/tamper-sensor/src/main.rs
  packages/tamper_briefcase/crates/tamper-sensor/src/sensor.rs
  packages/tamper_briefcase/deny.toml
Due: check-markdown-links
