Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: address AI review feedback (iteration 2)
  tools/rust/automation-cli/src/shared/process.rs
Due: rust-fmt-automation-cli

fix: harden PR review agent reliability with retries, timeouts, and failure visibility (#297)
  .github/actions/pr-review-fix/action.yml
  tools/rust/automation-cli/src/commands/review/failure.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/automation-cli/src/shared/process.rs
Due: rust-fmt-automation-cli

docs: clean up stale documentation and add missing READMEs
  automation/README.md
  docs/developer/lint-progress.md
  docs/integrations/ai-services/opencode-maintenance.md
  docs/mcp/servers.md
  docs/plans/mcp-rust-migration-plan.md
  docs/roadmaps/README.md
  docs/roadmaps/dgx-spark-integration-roadmap.md
  docs/roadmaps/mcp-integration-roadmap.md
  docs/roadmaps/virtual-character-roadmap.md
  packages/economic_agents/README.md
  packages/sleeper_agents/README.md
  tools/mcp/mcp_agentcore_memory/README.md
  tools/mcp/mcp_bioforge/README.md
  tools/mcp/mcp_comfyui/README.md
  tools/mcp/mcp_elevenlabs_speech/README.md
  tools/mcp/mcp_github_board/README.md
  tools/rust/mcp-code-quality/README.md
  tools/rust/wrapper-common/README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  tools/mcp/mcp_agentcore_memory/src/server.rs
  tools/mcp/mcp_comfyui/README.md
Due: rust-fmt-mcp-servers, check-markdown-links

fix: correct broken relative links in relocated opencode-maintenance.md
  docs/integrations/ai-services/opencode-maintenance.md
Due: check-markdown-links

docs: clean up stale documentation and add missing READMEs (#298)
  automation/README.md
  docs/developer/lint-progress.md
  docs/integrations/ai-services/opencode-maintenance.md
  docs/mcp/servers.md
  docs/plans/mcp-rust-migration-plan.md
  docs/roadmaps/README.md
  docs/roadmaps/dgx-spark-integration-roadmap.md
  docs/roadmaps/mcp-integration-roadmap.md
  docs/roadmaps/virtual-character-roadmap.md
  packages/economic_agents/README.md
  packages/sleeper_agents/README.md
  tools/mcp/mcp_agentcore_memory/README.md
  tools/mcp/mcp_agentcore_memory/src/server.rs
  tools/mcp/mcp_bioforge/README.md
  tools/mcp/mcp_comfyui/README.md
  tools/mcp/mcp_elevenlabs_speech/README.md
  tools/mcp/mcp_github_board/README.md
  tools/rust/mcp-code-quality/README.md
  tools/rust/wrapper-common/README.md
Due: rust-fmt-mcp-servers, check-markdown-links

fix: clear stale GHCR credentials and pin uv version for tag push CI
  .github/workflows/main-ci.yml
  docker/python-ci.Dockerfile
Due: none

fix: add GHCR credential cleanup to PR validation and reusable workflows
  .github/workflows/lint-stages.yml
  .github/workflows/pr-validation.yml
  .github/workflows/validation-stages.yml
Due: none

fix: clear stale GHCR credentials and pin uv version for tag push CI (#299)
  .github/workflows/lint-stages.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/validation-stages.yml
  docker/python-ci.Dockerfile
Due: none

fix: add anchor validation to markdown link checker and fix broken links repo-wide
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/roadmaps/virtual-character-roadmap.md
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_code_quality/src/server.rs
  tools/rust/markdown-link-checker/src/main.rs
Due: rust-fmt-markdown-link-checker, check-markdown-links

fix spacing
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
Due: check-markdown-links

fix spacing
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  tools/rust/markdown-link-checker/src/main.rs
Due: rust-fmt-markdown-link-checker

fix: address AI review feedback (iteration 2)
  tools/rust/markdown-link-checker/src/main.rs
Due: rust-fmt-markdown-link-checker

fix: address AI review feedback (iteration 3)
  tools/rust/markdown-link-checker/src/main.rs
Due: rust-fmt-markdown-link-checker

fix: add anchor validation to markdown link checker and fix broken links repo-wide (#300)
  docs/projections/ai-agents-espionage-operations.md
  docs/projections/ai-agents-financial-integrity.md
  docs/projections/ai-agents-institutional-erosion.md
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/roadmaps/virtual-character-roadmap.md
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_code_quality/src/server.rs
  tools/rust/markdown-link-checker/src/main.rs
Due: rust-fmt-markdown-link-checker, check-markdown-links

docs: add AI agent containment and infrastructure security framework paper
  .github/workflows/main-ci.yml
  CLAUDE.md
  README.md
  docs/hardware/README.md
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  .github/workflows/main-ci.yml
Due: none

fix: add containment framework to build-docs.yml PR validation pipeline
  .github/workflows/build-docs.yml
Due: none

docs: add AI agent containment and infrastructure security framework (#301)
  .github/workflows/build-docs.yml
  .github/workflows/main-ci.yml
  CLAUDE.md
  README.md
  docs/hardware/README.md
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
Due: check-markdown-links

fix: optimize PR validation paths to skip unnecessary jobs on unrelated changes
  .github/workflows/pr-validation.yml
Due: none

fix: add change detection to main-ci.yml and parallelize release builds
  .github/workflows/main-ci.yml
  docker/rust-ci.Dockerfile
Due: none

fix: address AI review feedback (iteration 1)
  .github/workflows/pr-validation.yml
Due: none

fix: address AI review feedback (iteration 2)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
Due: none

fix: optimize main-ci.yml with change detection, nightly toolchain, and parallel release builds (#302)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  docker/rust-ci.Dockerfile
Due: none

fix: force full pipeline on tag pushes so release builds run
  .github/workflows/main-ci.yml
Due: none

fix: force full pipeline on tag pushes so release builds run (#303)
  .github/workflows/main-ci.yml
Due: none

feat: add GitHub Pages site showcasing repo architecture and publications
  .github/workflows/deploy-pages.yml
  .gitignore
  .nojekyll
  site/css/style.css
  site/favicon.svg
  site/index.html
  site/js/main.js
Due: none

fix: address AI review feedback (iteration 1)
  site/css/style.css
  site/js/main.js
Due: none

fix: address AI review feedback (iteration 2)
  site/css/style.css
Due: none

fix: move Pages deployment into main-ci.yml instead of standalone workflow
  .github/workflows/deploy-pages.yml
  .github/workflows/main-ci.yml
Due: none

fix: address AI review feedback (iteration 3)
  .github/workflows/main-ci.yml
  site/css/style.css
Due: none

feat: add GitHub Pages site for project showcase (#304)
  .github/workflows/main-ci.yml
  .gitignore
  .nojekyll
  site/css/style.css
  site/favicon.svg
  site/index.html
  site/js/main.js
Due: none

feat: add companion site links and rename Publications to Strategic Documents
  site/index.html
Due: none

feat: add companion site links and rename Publications to Strategic Documents (#305)
  site/index.html
Due: none

fix: correct MCP server language badges and link PDFs to release assets
  site/index.html
Due: none

fix: correct MCP server language badges and link PDFs to release assets (#306)
  site/index.html
Due: none

fix: classify transient network errors as AgentExecutionFailed (exit 6) instead of Config (exit 1)
  tools/rust/github-agents-cli/src/review/agents/claude.rs
  tools/rust/github-agents-cli/src/review/agents/codex.rs
  tools/rust/github-agents-cli/src/review/agents/crush.rs
  tools/rust/github-agents-cli/src/review/agents/gemini.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/agents/opencode.rs
Due: rust-fmt-github-agents-cli

fix: include stderr in AgentExecutionFailed display output
  tools/rust/github-agents-cli/src/error.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 1)
  tools/rust/github-agents-cli/src/review/agents/claude.rs
  tools/rust/github-agents-cli/src/review/agents/crush.rs
  tools/rust/github-agents-cli/src/review/agents/gemini.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/agents/opencode.rs
Due: rust-fmt-github-agents-cli
