Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix: timeout bypass, trailing space, and remove committed review artifacts
  .gitignore
  claude-quality-review.md
  claude-security-review.md
  openrouter-review.md
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

feat: replace Gemini PR reviews with multi-profile Claude + OpenRouter pipeline (#315)
  .agents.yaml
  .github/actions/claude-review/action.yml
  .github/actions/openrouter-review/action.yml
  .github/actions/pr-review-fix/action.yml
  .github/workflows/auto-review.yml
  .github/workflows/pr-review-monitor.yml
  .github/workflows/pr-validation.yml
  .gitignore
  CLAUDE.md
  docs/agents/auto-review.md
  review-profiles.yaml
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/github-agents-cli/src/main.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
  tools/rust/github-agents-cli/src/review/config.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-automation-cli, rust-fmt-github-agents-cli, check-markdown-links

fix: update security notice to cover OpenAI/Google, mark Gemini disabled, fix Qwen model name
  .agents.yaml
  CLAUDE.md
  README.md
  review-profiles.yaml
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

fix: remove CODEX_ENABLED flag from root README security notice
  README.md
Due: check-markdown-links

fix: remove crossed-out disabled page links from README
  README.md
Due: check-markdown-links

fix: update security notice for OpenAI/Google, mark Gemini disabled, fix Qwen model (#316)
  .agents.yaml
  CLAUDE.md
  README.md
  review-profiles.yaml
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

fix: verify review agent pushes land on remote, preserve unpushed commits
  .github/actions/pr-review-fix/action.yml
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix model
  .agents.yaml
  CLAUDE.md
  review-profiles.yaml
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

fix: address AI review feedback (iteration 1)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 2)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 3)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: detect Claude hallucination via stream-json tool_use events
  .github/actions/pr-review-fix/action.yml
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: mask + redact review-agent artifacts before upload
  tools/rust/automation-cli/Cargo.lock
  tools/rust/automation-cli/Cargo.toml
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 5)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: review-agent reliability — verified pushes + hallucination detection via stream-json (#318)
  .agents.yaml
  .github/actions/pr-review-fix/action.yml
  CLAUDE.md
  review-profiles.yaml
  tools/rust/automation-cli/Cargo.lock
  tools/rust/automation-cli/Cargo.toml
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-automation-cli, rust-fmt-github-agents-cli, check-markdown-links

fix: sanitize + retry review posting when gh-validator rejects emojis
  tools/rust/github-agents-cli/src/review/mod.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
  tools/rust/github-agents-cli/src/review/sanitize.rs
Due: rust-fmt-github-agents-cli

fix: run fork-guard on self-hosted runner
  .github/workflows/pr-validation.yml
Due: none

fix: tighten gh-validator stderr match in is_sanitizable_failure
  tools/rust/github-agents-cli/src/review/sanitize.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 1)
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 2)
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli

fix: address AI review feedback (iteration 3)
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli

fix: plug temp-file leak on first gh spawn failure in post_review
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli

fix: strip orphan ZWJ / VS16 alongside emoji in sanitizer
  tools/rust/github-agents-cli/src/review/sanitize.rs
Due: rust-fmt-github-agents-cli

fix: sanitize + retry review posting when gh-validator rejects emojis (#319)
  .github/workflows/pr-validation.yml
  tools/rust/github-agents-cli/src/review/mod.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
  tools/rust/github-agents-cli/src/review/sanitize.rs
Due: rust-fmt-github-agents-cli

docs: add Agent Council setup guide for external adoption
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

fix: address AI review feedback (iteration 3)
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

fix: replace invalid ADMIN author_association with COLLABORATOR
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

fix: address AI review feedback (iteration 4)
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

docs: add Agent Council setup guide for external adoption (#320)
  docs/guides/agent-council-setup-guide.md
Due: check-markdown-links

feat: add review precommit checks and finetune review agent criteria (#321)
  .github/actions/pr-review-fix/action.yml
  docs/guides/agent-council-setup-guide.md
  tools/rust/automation-cli/src/commands/review/failure.rs
  tools/rust/automation-cli/src/commands/review/mod.rs
  tools/rust/automation-cli/src/commands/review/precommit.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli, check-markdown-links

fix: address AI review feedback (iteration 1)
  tools/rust/automation-cli/src/commands/review/failure.rs
  tools/rust/automation-cli/src/commands/review/precommit.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 2)
  tools/rust/automation-cli/src/commands/review/precommit.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 3)
  tools/rust/automation-cli/src/commands/review/precommit.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 4)
  tools/rust/automation-cli/src/commands/review/precommit.rs
Due: rust-fmt-automation-cli

fix(review-agent): prevent hallucination when prior iteration already fixed issues
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix(review-agent): feed prior-iteration diff into retry context on hallucination
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli
