Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

ty:
  name: ty type check
  entry: docker-compose --profile ci run --rm python-ci ty check
  language: system
  pass_filenames: false

rust-fmt-gh-validator:
  name: Rust format gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-pr-monitor:
  name: Rust format pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-injection-toolkit:
  name: Rust format injection-toolkit
  entry: docker-compose --profile ci run --rm rust-ci cargo fmt --all -- --check
  language: system
  pass_filenames: false

rust-clippy-gh-validator:
  name: Rust lint gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-pr-monitor:
  name: Rust lint pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-injection-toolkit:
  name: Rust lint injection-toolkit
  entry: docker-compose --profile ci run --rm rust-ci cargo clippy --workspace --all-targets --exclude itk-native-dll --exclude nms-video-launcher --exclude nms-video-overlay --exclude nms-cockpit-injector -- -D warnings
  language: system
  pass_filenames: false

check-markdown-links:
  name: Check markdown links (Rust)
  ...

feat: implement OASIS_OS Phase 11 -- audio subsystem with playlist and backend trait
  packages/oasis_os/crates/oasis-backend-sdl/src/lib.rs
  packages/oasis_os/crates/oasis-backend-sdl/src/sdl_audio.rs
  packages/oasis_os/crates/oasis-core/src/audio/manager.rs
  packages/oasis_os/crates/oasis-core/src/audio/mod.rs
  packages/oasis_os/crates/oasis-core/src/audio/null_backend.rs
  packages/oasis_os/crates/oasis-core/src/audio/playlist.rs
  packages/oasis_os/crates/oasis-core/src/audio/types.rs
  packages/oasis_os/crates/oasis-core/src/backend.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/terminal/audio_commands.rs
  packages/oasis_os/crates/oasis-core/src/terminal/mod.rs
Due: none

docs: remove all Catalyst references from OASIS_OS design document
  OASIS_OS-Design-Document-v2.2.md
Due: check-markdown-links

fix: implement bitmap font renderer and backspace support for SDL backend
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-backend-sdl/src/font.rs
  packages/oasis_os/crates/oasis-backend-sdl/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/input.rs
  packages/oasis_os/crates/oasis-core/src/sdi/registry.rs
Due: none

feat: implement app launching from dashboard with built-in app screens
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-core/src/apps/mod.rs
  packages/oasis_os/crates/oasis-core/src/apps/runner.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
Due: none

feat: implement OASIS_OS Phase 12 -- transitions, update checker, scripting, FTP server
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/script/mod.rs
  packages/oasis_os/crates/oasis-core/src/terminal/commands.rs
  packages/oasis_os/crates/oasis-core/src/transfer/mod.rs
  packages/oasis_os/crates/oasis-core/src/transition/mod.rs
  packages/oasis_os/crates/oasis-core/src/update/mod.rs
Due: none

feat: add file viewer, VFS-aware music player and photo viewer with fetch script
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-core/src/apps/runner.rs
  packages/oasis_os/samples/.gitignore
  packages/oasis_os/samples/fetch-samples.sh
Due: none

fix: make Music Player, Photo Viewer and file viewer actually work
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-core/src/apps/runner.rs
  packages/oasis_os/samples/fetch-samples.sh
Due: none

feat: add format-aware viewers for Music Player and Photo Viewer
  packages/oasis_os/crates/oasis-core/src/apps/runner.rs
Due: none

feat: implement PSIX-style UI with status bar, bottom bar, and 6x3 dashboard
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/sdi/object.rs
  packages/oasis_os/crates/oasis-core/src/sdi/registry.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/transition/mod.rs
  packages/oasis_os/skins/classic/features.toml
  packages/oasis_os/skins/classic/layout.toml
Due: none

feat: add wallpaper, mouse cursor, texture support, WM integration, and PSIX visual polish
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-backend-sdl/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/cursor.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/wallpaper.rs
Due: none

fix: remove WM window overlay from apps and add click-to-select on dashboard
  packages/oasis_os/crates/oasis-app/src/main.rs
Due: none

fix: restore bar text visibility after returning from terminal mode
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
Due: none

feat: restyle UI to match PSIX -- vibrant gradient, document icons, outlined tabs
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/wallpaper.rs
  packages/oasis_os/skins/classic/features.toml
Due: none

fix: SDL alpha blending, thin outlined tab borders, and screenshot capture tool
  packages/oasis_os/Cargo.lock
  packages/oasis_os/Cargo.toml
  packages/oasis_os/crates/oasis-app/Cargo.toml
  packages/oasis_os/crates/oasis-app/src/screenshot.rs
  packages/oasis_os/crates/oasis-backend-sdl/src/lib.rs
  packages/oasis_os/crates/oasis-backend-ue5/src/renderer.rs
  packages/oasis_os/crates/oasis-core/src/backend.rs
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/cursor.rs
  packages/oasis_os/crates/oasis-core/src/sdi/registry.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/screenshots/01_dashboard.png
  packages/oasis_os/screenshots/02_media_tab.png
  packages/oasis_os/screenshots/03_mods_tab.png
  packages/oasis_os/screenshots/04_terminal.png
Due: none

feat: close PSIX visual gap -- vivid wallpaper, sparse layout, metallic bezels
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/wallpaper.rs
  packages/oasis_os/screenshots/01_dashboard.png
  packages/oasis_os/screenshots/02_media_tab.png
  packages/oasis_os/screenshots/03_mods_tab.png
  packages/oasis_os/screenshots/04_terminal.png
  packages/oasis_os/skins/classic/features.toml
Due: none

feat: refine PSIX UI -- larger icons, chrome bezels, brighter wallpaper, OSS label
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/wallpaper.rs
  packages/oasis_os/screenshots/01_dashboard.png
  packages/oasis_os/screenshots/02_media_tab.png
  packages/oasis_os/screenshots/03_mods_tab.png
  packages/oasis_os/screenshots/04_terminal.png
  packages/oasis_os/skins/classic/features.toml
Due: none

refactor: extract shared SDI helpers and centralize theme constants
  packages/oasis_os/crates/oasis-app/src/main.rs
  packages/oasis_os/crates/oasis-app/src/screenshot.rs
  packages/oasis_os/crates/oasis-core/src/bottombar.rs
  packages/oasis_os/crates/oasis-core/src/dashboard/mod.rs
  packages/oasis_os/crates/oasis-core/src/lib.rs
  packages/oasis_os/crates/oasis-core/src/sdi/helpers.rs
  packages/oasis_os/crates/oasis-core/src/sdi/mod.rs
  packages/oasis_os/crates/oasis-core/src/statusbar.rs
  packages/oasis_os/crates/oasis-core/src/theme.rs
  packages/oasis_os/crates/oasis-ffi/src/lib.rs
Due: none

fix: increase rust-ci timeout and persist cargo cache
  .github/workflows/main-ci.yml
  docker-compose.yml
Due: none

fix: address AI review feedback (iteration 1)
  docker/rust-ci-nightly.Dockerfile
  docker/rust-ci.Dockerfile
  tools/rust/automation-cli/src/commands/review/failure.rs
Due: none

fix: address AI review feedback (iteration 2)
  docker/rust-ci.Dockerfile
Due: none

fix: increase rust-ci timeout and persist cargo cache (#279)
  .github/workflows/main-ci.yml
  docker-compose.yml
  docker/rust-ci-nightly.Dockerfile
  docker/rust-ci.Dockerfile
  tools/rust/automation-cli/src/commands/review/failure.rs
Due: none

refactor: modernize and harden rust_psp_sdk
  packages/rust_psp_sdk/cargo-psp/Cargo.lock
  packages/rust_psp_sdk/cargo-psp/Cargo.toml
  packages/rust_psp_sdk/cargo-psp/src/bin/mksfo.rs
  packages/rust_psp_sdk/cargo-psp/src/bin/pack-pbp.rs
  packages/rust_psp_sdk/cargo-psp/src/bin/prxgen.rs
  packages/rust_psp_sdk/cargo-psp/src/fix_imports.rs
  packages/rust_psp_sdk/cargo-psp/src/main.rs
  packages/rust_psp_sdk/psp/src/alloc_impl.rs
  packages/rust_psp_sdk/psp/src/constants.rs
  packages/rust_psp_sdk/psp/src/debug.rs
  packages/rust_psp_sdk/psp/src/lib.rs
  packages/rust_psp_sdk/psp/src/math/mod.rs
  packages/rust_psp_sdk/psp/src/panic.rs
  packages/rust_psp_sdk/psp/src/sys/gu.rs
  packages/rust_psp_sdk/psp/src/sys/gum.rs
  packages/rust_psp_sdk/psp/src/sys/mod.rs
  packages/rust_psp_sdk/psp/src/test_runner.rs
  packages/rust_psp_sdk/psp/src/vram_alloc.rs
Due: none

fix: resolve three main-ci.yml job failures (Rust CI, Test Suite, Security Scanning)
  .github/workflows/main-ci.yml
  clippy.toml
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/automation-cli/src/commands/service.rs
Due: none

fix: address AI review feedback (iteration 1)
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: none

fix: revert ptr intrinsics in memset/memcpy/memmove and add NVIDIA GPU passthrough
  docker-compose.yml
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/rust_psp_sdk/psp/src/alloc_impl.rs
Due: none

fix: address AI review feedback (iteration 2)
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: none

feat: switch PSP backend from software rendering to sceGu hardware acceleration
  packages/oasis_os/crates/oasis-backend-psp/Cargo.toml
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
Due: none

fix: resolve main-ci.yml Rust CI, Test Suite, and Security Scanning failures (#280)
  .github/workflows/main-ci.yml
  clippy.toml
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/automation-cli/src/commands/service.rs
Due: none

feat: match PSP UI layout to desktop PSIX style
  packages/oasis_os/crates/oasis-backend-psp/src/lib.rs
  packages/oasis_os/crates/oasis-backend-psp/src/main.rs
Due: none

docs: move OASIS_OS design doc into package, add README, update to v2.3
  packages/oasis_os/README.md
  packages/oasis_os/docs/design.md
Due: check-markdown-links

docs: update rust_psp_sdk README to reflect vendored fork changes
  packages/rust_psp_sdk/README.md
Due: check-markdown-links

docs: add oasis_os and rust_psp_sdk to root README, CLAUDE.md, and agents docs
  CLAUDE.md
  README.md
  docs/agents/README.md
Due: check-markdown-links

fix: harden rust_psp_sdk error handling and add thread-safe debug printing
  packages/rust_psp_sdk/README.md
  packages/rust_psp_sdk/cargo-psp/src/bin/prxmin.rs
  packages/rust_psp_sdk/cargo-psp/src/fix_imports.rs
  packages/rust_psp_sdk/deny.toml
  packages/rust_psp_sdk/psp/build.rs
  packages/rust_psp_sdk/psp/src/debug.rs
Due: check-markdown-links

docs: add PPSSPP testing workflow to oasis_os and rust_psp_sdk docs
  README.md
  docs/agents/README.md
  packages/oasis_os/README.md
  packages/rust_psp_sdk/README.md
Due: check-markdown-links

docs: sync AGENTS.md and CLAUDE.md with current packages
  AGENTS.md
  CLAUDE.md
Due: check-markdown-links

fix: resolve clippy collapsible_if lints, add missing Rust pre-commit hooks, fix Python CI lint
  .pre-commit-config.yaml
  packages/injection_toolkit/core/itk-ipc/src/unix_impl.rs
  packages/injection_toolkit/core/itk-net/src/session.rs
  packages/injection_toolkit/core/itk-shmem/src/lib.rs
  packages/injection_toolkit/core/itk-shmem/src/unix_impl.rs
  packages/injection_toolkit/overlay/src/main.rs
  packages/injection_toolkit/projects/nms-cockpit-video/daemon/src/video/audio.rs
  packages/injection_toolkit/projects/nms-cockpit-video/daemon/src/video/player.rs
  tools/rust/automation-cli/src/commands/ci/lint.rs
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: rust-fmt-injection-toolkit, rust-clippy-injection-toolkit

fix: eliminate unsafe patterns and add overflow guards in rust_psp_sdk
  packages/rust_psp_sdk/README.md
  packages/rust_psp_sdk/cargo-psp/src/main.rs
  packages/rust_psp_sdk/psp/src/panic.rs
  packages/rust_psp_sdk/psp/src/screenshot.rs
  packages/rust_psp_sdk/psp/src/vram_alloc.rs
Due: check-markdown-links

fix: resolve clippy collapsible_if lints, add missing Rust pre-commit hooks, fix Python CI lint (#281)
  .pre-commit-config.yaml
  packages/injection_toolkit/core/itk-ipc/src/unix_impl.rs
  packages/injection_toolkit/core/itk-net/src/session.rs
  packages/injection_toolkit/core/itk-shmem/src/lib.rs
  packages/injection_toolkit/core/itk-shmem/src/unix_impl.rs
  packages/injection_toolkit/overlay/src/main.rs
  packages/injection_toolkit/projects/nms-cockpit-video/daemon/src/video/audio.rs
  packages/injection_toolkit/projects/nms-cockpit-video/daemon/src/video/player.rs
  tools/rust/automation-cli/src/commands/ci/lint.rs
  tools/rust/automation-cli/src/commands/ci/mod.rs
Due: rust-fmt-injection-toolkit, rust-clippy-injection-toolkit

fix: collapse nested if-let to satisfy clippy collapsible_if lint
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/handler.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/stdio.rs
Due: none

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$
