Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

ty:
  name: ty type check
  entry: docker compose --profile ci run --rm python-ci ty check
  language: system
  pass_filenames: false

rust-fmt-gh-validator:
  name: Rust format gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-pr-monitor:
  name: Rust format pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-injection-toolkit:
  name: Rust format injection-toolkit
  entry: docker compose --profile ci run --rm rust-ci cargo fmt --all -- --check
  language: system
  pass_filenames: false

rust-fmt-automation-cli:
  name: Rust format automation-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/automation-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-board-manager:
  name: Rust format board-manager
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/board-manager && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-code-parser:
  name: Rust format code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy-code-parser:
  name: Rust lint code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-code-review-processor:
  name: Rust format code-review-processor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-review-processor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-git-guard:
  name: Rust format git-guard
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/git-guard && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-github-agents-cli:
  name: Rust format github-agents-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/github-agents-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-markdown-link-checker:
  name: Rust format markdown-link-checker
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/markdown-link-checker && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-mcp-code-quality:
  name: Rust format mcp-code-quality
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/mcp-code-quality && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-wrapper-common:
  name: Rust format wrapper-common
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/wrapper-common && cargo fmt --all'
  language: system
  pass_filenames: false

check-markdown-links:
  name: Check markdown links (Rust)
  ...

fix: address AI review feedback (iteration 3)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 4)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix(review-agent): prevent hallucination when prior iteration already fixed issues (#322)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix(pr-monitor): generic AI agent review classifier; cleanup reminder text
  CLAUDE.md
  automation/setup/git/hooks/pre-push
  docs/agents/pr-monitoring.md
  docs/infrastructure/git-hooks.md
  tools/rust/gh-validator/src/main.rs
  tools/rust/gh-validator/src/validation/secrets.rs
  tools/rust/github-agents-cli/README.md
  tools/rust/pr-monitor/README.md
  tools/rust/pr-monitor/src/analysis/classifier.rs
  tools/rust/pr-monitor/src/analysis/decision.rs
  tools/rust/pr-monitor/src/analysis/mod.rs
Due: rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-clippy-gh-validator, rust-clippy-pr-monitor, check-markdown-links

fix: address AI review feedback (iteration 1)
  tools/rust/pr-monitor/src/analysis/classifier.rs
Due: rust-fmt-pr-monitor, rust-clippy-pr-monitor

fix: address AI review feedback (iteration 2)
  tools/rust/pr-monitor/src/analysis/classifier.rs
Due: rust-fmt-pr-monitor, rust-clippy-pr-monitor

fix(pr-monitor): generic AI review classifier + cleanup reminder text (#323)
  CLAUDE.md
  automation/setup/git/hooks/pre-push
  docs/agents/pr-monitoring.md
  docs/infrastructure/git-hooks.md
  tools/rust/gh-validator/src/main.rs
  tools/rust/gh-validator/src/validation/secrets.rs
  tools/rust/github-agents-cli/README.md
  tools/rust/pr-monitor/README.md
  tools/rust/pr-monitor/src/analysis/classifier.rs
  tools/rust/pr-monitor/src/analysis/decision.rs
  tools/rust/pr-monitor/src/analysis/mod.rs
Due: rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-clippy-gh-validator, rust-clippy-pr-monitor, check-markdown-links

docs: redirect CLAUDE.md to AGENTS.md as single source of truth
  CLAUDE.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  AGENTS.md
Due: check-markdown-links

docs: redirect CLAUDE.md to AGENTS.md as single source of truth (#324)
  AGENTS.md
  CLAUDE.md
Due: check-markdown-links

feat(mcp-core): add tool-execution panic boundary and fix #[mcp_tool] macro
  tools/mcp/mcp_core_rust/Cargo.lock
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_core_rust/crates/mcp-core/Cargo.toml
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/handler.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/tests/mcp_tool_macro.rs
  tools/mcp/mcp_core_rust/crates/mcp-macros/src/lib.rs
Due: rust-fmt-mcp-core-rust, check-markdown-links

feat(mcp-macros): support injected shared state via #[mcp(state)]
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_core_rust/crates/mcp-core/tests/mcp_tool_macro.rs
  tools/mcp/mcp_core_rust/crates/mcp-macros/src/lib.rs
Due: rust-fmt-mcp-core-rust, check-markdown-links

fix(mcp): bound subprocess execution with timeouts in blender + video-editor
  tools/mcp/mcp_blender/src/blender.rs
  tools/mcp/mcp_video_editor/src/audio.rs
  tools/mcp/mcp_video_editor/src/main.rs
  tools/mcp/mcp_video_editor/src/process.rs
  tools/mcp/mcp_video_editor/src/video.rs
Due: rust-fmt-mcp-servers

refactor(mcp-virtual-character): remove panic-prone unwraps in server tools
  tools/mcp/mcp_virtual_character/src/server.rs
Due: rust-fmt-mcp-servers

refactor(mcp): clean up remaining panic-prone unwraps in gaea2 + meme-generator
  tools/mcp/mcp_gaea2/src/validation.rs
  tools/mcp/mcp_meme_generator/src/upload.rs
Due: rust-fmt-mcp-servers

refactor(github-agents-cli): extract hardcoded default admin to constant + env override
  tools/rust/github-agents-cli/src/security/manager.rs
Due: rust-fmt-github-agents-cli

fix(board-manager): harden GraphQL HTTP client robustness
  tools/rust/board-manager/src/client.rs
Due: rust-fmt-board-manager

test(gh-validator): extract + test PR-view JSON parsing; document wrapper-common unsafe contract
  tools/rust/gh-validator/src/main.rs
  tools/rust/wrapper-common/src/binary_finder.rs
  tools/rust/wrapper-common/src/integrity.rs
Due: rust-fmt-gh-validator, rust-fmt-wrapper-common, rust-clippy-gh-validator

use qwen/qwen3.7-max
  .agents.yaml
Due: none

test(mcp-sprite-sheet): adopt mcp-testing harness for execute-path tests; doc automation-cli
  tools/mcp/mcp_sprite_sheet/Cargo.lock
  tools/mcp/mcp_sprite_sheet/Cargo.toml
  tools/mcp/mcp_sprite_sheet/src/server.rs
  tools/rust/automation-cli/src/main.rs
Due: rust-fmt-automation-cli, rust-fmt-mcp-servers

feat(mcp-core): add shared HTTP client helper; migrate servers off duplicated builders
  tools/mcp/mcp_agentcore_memory/src/client.rs
  tools/mcp/mcp_comfyui/src/client.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/http.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/lib.rs
  tools/mcp/mcp_elevenlabs_speech/src/client.rs
  tools/mcp/mcp_opencode/src/opencode.rs
  tools/mcp/mcp_reaction_search/src/config.rs
  tools/mcp/mcp_virtual_character/src/audio.rs
Due: rust-fmt-mcp-core-rust, rust-fmt-mcp-servers

docs: document new config knobs and shared HTTP/testing helpers
  docs/agents/security.md
  tools/mcp/mcp_blender/README.md
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_video_editor/README.md
  tools/rust/board-manager/README.md
Due: check-markdown-links

fix(review): use qwen/qwen3.7-max for OpenRouter PR reviews
  AGENTS.md
  docs/guides/agent-council-setup-guide.md
  review-profiles.yaml
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

refactor(mcp): address PR review feedback on the hardening changes
  tools/mcp/mcp_core_rust/crates/mcp-core/src/tool.rs
  tools/mcp/mcp_meme_generator/src/upload.rs
  tools/mcp/mcp_video_editor/src/process.rs
Due: rust-fmt-mcp-core-rust, rust-fmt-mcp-servers

fix(ci): prevent root-owned output dirs from breaking checkout cleanup
  .github/actions/docker-compose-health-check/action.yml
  automation/setup/runner/job-started-hook.sh
Due: none

fix: address AI review feedback (iteration 1)
  automation/setup/runner/job-started-hook.sh
  tools/mcp/mcp_core_rust/crates/mcp-core/tests/mcp_tool_macro.rs
  tools/mcp/mcp_core_rust/crates/mcp-macros/src/lib.rs
Due: rust-fmt-mcp-core-rust

fix: address AI review feedback (iteration 2)
  tools/rust/github-agents-cli/src/security/manager.rs
Due: rust-fmt-github-agents-cli

harden Rust safety/robustness across packages/ and infra/ strands
  infra/aws/rust-runtime/strands-models/src/mmds.rs
  infra/aws/rust-runtime/strands-runtime/src/handlers.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/detector.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/patterns.rs
  infra/aws/rust-runtime/strands-tools/src/json_response/validate_json.rs
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-mock/src/compute.rs
  packages/economic_agents/crates/economic-agents-mock/src/wallet.rs
  packages/economic_agents/crates/economic-agents-tasks/src/executor.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-sensor/src/sensor.rs
Due: rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase

fix: address AI review feedback (iteration 1)
  infra/aws/rust-runtime/strands-models/src/mmds.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-sensor/src/sensor.rs
Due: rust-fmt-tamper-briefcase

fix: address AI review feedback (iteration 2)
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
Due: rust-fmt-tamper-briefcase

fix: address AI review feedback (iteration 3)
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
Due: rust-fmt-tamper-briefcase

fix: address AI review feedback (iteration 4)
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
Due: rust-fmt-tamper-briefcase

fix: address AI review feedback (iteration 5)
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
Due: rust-fmt-tamper-briefcase

fix: resolve cargo-deny advisory failures from new RUSTSEC entries
  packages/bioforge/Cargo.lock
  packages/economic_agents/Cargo.lock
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/deny.toml
Due: none

Harden Rust safety/robustness across packages/ and infra/ strands (#326)
  infra/aws/rust-runtime/strands-models/src/mmds.rs
  infra/aws/rust-runtime/strands-runtime/src/handlers.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/detector.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/patterns.rs
  infra/aws/rust-runtime/strands-tools/src/json_response/validate_json.rs
  packages/bioforge/Cargo.lock
  packages/bioforge/crates/bioforge-safety/src/enforcer.rs
  packages/economic_agents/Cargo.lock
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-mock/src/compute.rs
  packages/economic_agents/crates/economic-agents-mock/src/wallet.rs
  packages/economic_agents/crates/economic-agents-tasks/src/executor.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
  packages/tamper_briefcase/Cargo.lock
  packages/tamper_briefcase/crates/tamper-gate/src/main.rs
  packages/tamper_briefcase/crates/tamper-recovery/src/keygen.rs
  packages/tamper_briefcase/crates/tamper-sensor/src/sensor.rs
  packages/tamper_briefcase/deny.toml
Due: rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase

docs(philosophy): revise Architectural Qualia essay (MD + LaTeX)
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
Due: check-markdown-links

docs(philosophy): fold 2026 architecture landscape into Architectural Qualia
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
Due: check-markdown-links

docs(philosophy): revise Architectural Qualia essay and fold in 2026 architecture landscape (#327)
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
Due: check-markdown-links

docs(projections): revise WMD proliferation report to v2.1 (mid-2026 refresh)
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-wmd-proliferation.tex
Due: check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$
