Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix(docker): update mcp-gaea2 service to use Rust binary
  docker-compose.yml
Due: none

fix(docker): remove duplicate binary name from mcp-gaea2 command
  docker-compose.yml
Due: none

fix(mcp): remove stale references to deprecated Python mcp_core
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  automation/launchers/windows/start-gaea2-mcp.ps1
  automation/launchers/windows/start-gaea2-server.bat
  automation/testing/video_editor/README.md
  automation/testing/video_editor/video_editor_examples.py
  docker/blender-mcp.Dockerfile
  docker/comfyui-arm64.Dockerfile
  docker/comfyui.Dockerfile
  docker/entrypoints/comfyui-entrypoint.sh
  docker/mcp-agentcore-memory.Dockerfile
  docker/mcp-desktop-control.Dockerfile
  docker/mcp-video-editor.Dockerfile
  docs/agents/architecture/subagents/tech-lead.md
  tests/README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  automation/testing/video_editor/README.md
  automation/testing/video_editor/video_editor_examples.py
  docs/agents/architecture/subagents/tech-lead.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  docker/mcp-agentcore-memory.Dockerfile
  docs/agents/architecture/subagents/tech-lead.md
Due: check-markdown-links

fix(mcp): remove stale references to deprecated Python mcp_core (#261)
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  automation/launchers/windows/start-gaea2-mcp.ps1
  automation/launchers/windows/start-gaea2-server.bat
  automation/testing/video_editor/README.md
  automation/testing/video_editor/video_editor_examples.py
  docker/blender-mcp.Dockerfile
  docker/comfyui-arm64.Dockerfile
  docker/comfyui.Dockerfile
  docker/entrypoints/comfyui-entrypoint.sh
  docker/mcp-agentcore-memory.Dockerfile
  docker/mcp-desktop-control.Dockerfile
  docker/mcp-video-editor.Dockerfile
  docs/agents/architecture/subagents/tech-lead.md
  tests/README.md
Due: check-markdown-links

style(economic_agents): apply rustfmt trailing comma formatting
  packages/economic_agents/crates/economic-agents-api/src/middleware.rs
  packages/economic_agents/crates/economic-agents-api/src/services.rs
  packages/economic_agents/crates/economic-agents-cli/src/bin/economic-agents.rs
  packages/economic_agents/crates/economic-agents-company/src/autonomy.rs
  packages/economic_agents/crates/economic-agents-company/src/sub_agents.rs
  packages/economic_agents/crates/economic-agents-core/src/agent.rs
  packages/economic_agents/crates/economic-agents-core/src/llm.rs
  packages/economic_agents/crates/economic-agents-core/src/runner.rs
  packages/economic_agents/crates/economic-agents-core/src/strategy.rs
  packages/economic_agents/crates/economic-agents-dashboard/src/websocket.rs
  packages/economic_agents/crates/economic-agents-mock/src/marketplace.rs
  packages/economic_agents/crates/economic-agents-observability/src/decision_analyzer.rs
  packages/economic_agents/crates/economic-agents-observability/src/risk_profiler.rs
  packages/economic_agents/crates/economic-agents-simulation/src/market.rs
  packages/economic_agents/crates/economic-agents-tasks/src/executor.rs
  packages/economic_agents/crates/economic-agents-tasks/src/reviewer.rs
Due: none

fix(mcp-core): replace let chains with nested if-let for Rust compatibility
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
Due: none

fix(ci): resolve port conflicts on self-hosted runners
  .github/actions/docker-compose-health-check/action.yml
  .mcp.json
  docker-compose.yml
  docker/mcp-gemini.Dockerfile
Due: none

fix: address AI review feedback (iteration 1)
  .github/actions/docker-compose-health-check/action.yml
  docker-compose.yml
Due: none

fix: address AI review feedback (iteration 2)
  .github/actions/docker-compose-health-check/action.yml
Due: none

fix(mcp-core,ci): Rust let chains and self-hosted runner port conflicts (#263)
  .github/actions/docker-compose-health-check/action.yml
  .mcp.json
  docker-compose.yml
  docker/mcp-gemini.Dockerfile
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
Due: none

fix(docker): use bookworm-based Rust images to fix glibc mismatch
  docker/mcp-gemini.Dockerfile
  docker/openrouter-agents.Dockerfile
Due: none

fix(docker): apply glibc fix to remaining affected Dockerfiles
  docker/elevenlabs.Dockerfile
  docker/mcp-crush.Dockerfile
  docker/mcp-meme.Dockerfile
  docker/mcp-opencode.Dockerfile
Due: none

fix(github-agents): run Gemini CLI in sandbox mode for CI reviews
  tools/rust/github-agents-cli/src/review/agents/gemini.rs
Due: none

Revert "fix(github-agents): run Gemini CLI in sandbox mode for CI reviews"
  tools/rust/github-agents-cli/src/review/agents/gemini.rs
Due: none

fix(gemini): use httpUrl for MCP server configuration
  .gemini/settings.json
  .gitignore
Due: none

fix: address AI review feedback (iteration 1)
  docker/ai-toolkit.Dockerfile
  docker/blender-mcp.Dockerfile
  docker/codex.Dockerfile
  docker/comfyui.Dockerfile
  docker/mcp-agentcore-memory.Dockerfile
  docker/mcp-code-quality.Dockerfile
  docker/mcp-content.Dockerfile
  docker/mcp-desktop-control.Dockerfile
  docker/mcp-video-editor.Dockerfile
  docker/mcp-virtual-character.Dockerfile
  docker/python-ci.Dockerfile
Due: none

fix(docker): add pkg-config and libssl-dev to slim-bookworm builders
  docker/blender-mcp.Dockerfile
  docker/comfyui.Dockerfile
  docker/mcp-agentcore-memory.Dockerfile
  docker/mcp-code-quality.Dockerfile
  docker/mcp-desktop-control.Dockerfile
  docker/mcp-video-editor.Dockerfile
Due: none

fix(docker): add pkg-config to mcp-content.Dockerfile
  docker/mcp-content.Dockerfile
Due: none

fix(docker): use bookworm-based Rust images to fix glibc mismatch (#264)
  .gemini/settings.json
  .gitignore
  docker/ai-toolkit.Dockerfile
  docker/blender-mcp.Dockerfile
  docker/codex.Dockerfile
  docker/comfyui.Dockerfile
  docker/elevenlabs.Dockerfile
  docker/mcp-agentcore-memory.Dockerfile
  docker/mcp-code-quality.Dockerfile
  docker/mcp-content.Dockerfile
  docker/mcp-crush.Dockerfile
  docker/mcp-desktop-control.Dockerfile
  docker/mcp-gemini.Dockerfile
  docker/mcp-meme.Dockerfile
  docker/mcp-opencode.Dockerfile
  docker/mcp-video-editor.Dockerfile
  docker/mcp-virtual-character.Dockerfile
  docker/openrouter-agents.Dockerfile
  docker/python-ci.Dockerfile
Due: none

feat(ci): preserve auto-generated changelog in release notes
  .github/workflows/main-ci.yml
Due: none

fix: address AI review feedback (iteration 0)
  .github/workflows/main-ci.yml
Due: none

feat(ci): preserve auto-generated changelog in release notes (#265)
  .github/workflows/main-ci.yml
Due: none

feat(security): harden git-guard and gh-validator with defense-in-depth wrapper protection
  automation/ci-cd/run-ci.sh
  automation/setup/security/setup-wrapper-guard.sh
  automation/setup/security/uninstall-wrapper-guard.sh
  automation/setup/security/verify-wrapper-guard.sh
  docker-compose.yml
  docker/hardened-agent.Dockerfile
  tools/rust/gh-validator/Cargo.lock
  tools/rust/gh-validator/Cargo.toml
  tools/rust/gh-validator/build.rs
  tools/rust/gh-validator/install.sh
  tools/rust/gh-validator/src/config/types.rs
  tools/rust/gh-validator/src/error.rs
  tools/rust/gh-validator/src/gh_finder.rs
  tools/rust/gh-validator/src/main.rs
  tools/rust/gh-validator/src/validation/urls.rs
  tools/rust/git-guard/build.rs
  tools/rust/git-guard/install.sh
  tools/rust/git-guard/src/error.rs
  tools/rust/git-guard/src/git_finder.rs
  tools/rust/git-guard/src/main.rs
  tools/rust/install-all.sh
  tools/rust/wrapper-common/Cargo.lock
  tools/rust/wrapper-common/Cargo.toml
  tools/rust/wrapper-common/src/audit.rs
  tools/rust/wrapper-common/src/binary_finder.rs
  tools/rust/wrapper-common/src/error.rs
  tools/rust/wrapper-common/src/exec.rs
  tools/rust/wrapper-common/src/integrity.rs
  tools/rust/wrapper-common/src/lib.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

docs: add comprehensive wrapper-guard security documentation
  CLAUDE.md
  docs/agents/security.md
  docs/infrastructure/README.md
  docs/infrastructure/wrapper-guard.md
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  automation/setup/security/setup-wrapper-guard.sh
  docker/hardened-agent.Dockerfile
  docs/infrastructure/wrapper-guard.md
Due: check-markdown-links

fix(security): require sudo for emergency bypass, remove auto group membership
  automation/setup/security/setup-wrapper-guard.sh
  docs/infrastructure/wrapper-guard.md
  tools/rust/git-guard/src/main.rs
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  automation/setup/security/setup-wrapper-guard.sh
Due: none

fix: address AI review feedback (iteration 2)
  automation/setup/security/setup-wrapper-guard.sh
  tools/rust/gh-validator/src/main.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

fix: rustfmt formatting in gh-validator log_blocked call
  tools/rust/gh-validator/src/main.rs
Due: rust-fmt-gh-validator, rust-clippy-gh-validator

fix: add Rust autoformatting to CI autoformat stage
  automation/ci-cd/agent-failure-handler.sh
  automation/ci-cd/run-ci.sh
Due: none

feat(mcp): add STDIO transport to mcp_core_rust framework
  .mcp.json
  tools/mcp/mcp_core_rust/crates/mcp-client/src/lib.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/lib.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/server.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/handler.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/mod.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/rest.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/stdio.rs
  tools/mcp/mcp_core_rust/crates/mcp-macros/src/lib.rs
Due: none

fix: Docker gh-validator build + reject empty agent reviews
  docker/codex.Dockerfile
  docker/openrouter-agents.Dockerfile
  docker/python-ci.Dockerfile
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: none

fix: copy build.rs into Docker gh-validator builder stage
  docker/codex.Dockerfile
  docker/openrouter-agents.Dockerfile
  docker/python-ci.Dockerfile
Due: none

fix: update MCP server configs to use Rust binary names instead of Python
  .mcp.json
  .mcp.json.full
Due: none

fix mcp servers
  .mcp.json
Due: none
