Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

fix(mcp-core): address Gemini AI code review feedback
  tools/mcp/mcp_core_rust/.gitignore
  tools/mcp/mcp_core_rust/crates/mcp-core/src/server.rs
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
Due: none

fix(mcp-core): register session IDs and fix empty header for notifications
  tools/mcp/mcp_core_rust/crates/mcp-core/src/transport/http.rs
Due: none

fix(ci): prevent prompt-too-long errors in agent scripts
  automation/ci-cd/agent-failure-handler.sh
  automation/ci-cd/agent-review-response.sh
Due: none

fix(ci): include log tail for additional failure context
  automation/ci-cd/agent-failure-handler.sh
Due: none

fix(ci): prevent prompt-too-long errors in agent scripts (#245)
  automation/ci-cd/agent-failure-handler.sh
  automation/ci-cd/agent-review-response.sh
Due: none

feat(mcp-codex): migrate Codex MCP server from Python to Rust
  .mcp.json
  docker-compose.yml
  docker/codex.Dockerfile
  docker/python-ci.Dockerfile
  docker/scripts/codex-entrypoint.sh
  docs/mcp/servers.md
  tests/test_ai_agent_mcp_tools.py
  tools/mcp/mcp_codex/Cargo.lock
  tools/mcp/mcp_codex/Cargo.toml
  tools/mcp/mcp_codex/docs/README.md
  tools/mcp/mcp_codex/mcp_codex/__init__.py
  tools/mcp/mcp_codex/mcp_codex/client.py
  tools/mcp/mcp_codex/mcp_codex/codex_integration.py
  tools/mcp/mcp_codex/mcp_codex/server.py
  tools/mcp/mcp_codex/mcp_codex/tools.py
  tools/mcp/mcp_codex/pyproject.toml
  tools/mcp/mcp_codex/scripts/test_server.py
  tools/mcp/mcp_codex/src/codex.rs
  tools/mcp/mcp_codex/src/main.rs
  tools/mcp/mcp_codex/src/server.rs
  tools/mcp/mcp_codex/src/types.rs
Due: ty, check-markdown-links

docs(mcp): add README documentation for Rust MCP servers
  tools/mcp/mcp_codex/README.md
  tools/mcp/mcp_reaction_search/README.md
Due: check-markdown-links

docs: standardize README styling across Rust packages
  packages/economic_agents/README.md
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_github_board/docs/README.md
  tools/rust/code-parser/README.md
  tools/rust/git-guard/README.md
  tools/rust/github-agents-cli/README.md
  tools/rust/markdown-link-checker/README.md
  tools/rust/pr-monitor/README.md
Due: check-markdown-links

update style and license
  packages/injection_toolkit/projects/nms-cockpit-video/README.md
Due: check-markdown-links

feat(mcp-codex): migrate Codex MCP server from Python to Rust (#246)
  .mcp.json
  docker-compose.yml
  docker/codex.Dockerfile
  docker/python-ci.Dockerfile
  docker/scripts/codex-entrypoint.sh
  docs/mcp/servers.md
  packages/economic_agents/README.md
  packages/injection_toolkit/projects/nms-cockpit-video/README.md
  tests/test_ai_agent_mcp_tools.py
  tools/mcp/mcp_codex/Cargo.lock
  tools/mcp/mcp_codex/Cargo.toml
  tools/mcp/mcp_codex/README.md
  tools/mcp/mcp_codex/docs/README.md
  tools/mcp/mcp_codex/mcp_codex/__init__.py
  tools/mcp/mcp_codex/mcp_codex/client.py
  tools/mcp/mcp_codex/mcp_codex/codex_integration.py
  tools/mcp/mcp_codex/mcp_codex/server.py
  tools/mcp/mcp_codex/mcp_codex/tools.py
  tools/mcp/mcp_codex/pyproject.toml
  tools/mcp/mcp_codex/scripts/test_server.py
  tools/mcp/mcp_codex/src/codex.rs
  tools/mcp/mcp_codex/src/main.rs
  tools/mcp/mcp_codex/src/server.rs
  tools/mcp/mcp_codex/src/types.rs
  tools/mcp/mcp_core_rust/README.md
  tools/mcp/mcp_github_board/docs/README.md
  tools/mcp/mcp_reaction_search/README.md
  tools/rust/code-parser/README.md
  tools/rust/git-guard/README.md
  tools/rust/github-agents-cli/README.md
  tools/rust/markdown-link-checker/README.md
  tools/rust/pr-monitor/README.md
Due: ty, check-markdown-links

feat(mcp-gemini): migrate Gemini MCP server from Python to Rust
  automation/launchers/unix/start-gemini-mcp.sh
  automation/testing/test_all_servers.py
  docker/mcp-gemini.Dockerfile
  docker/python-ci.Dockerfile
  tests/test_ai_agent_mcp_tools.py
  tools/mcp/mcp_gemini/Cargo.lock
  tools/mcp/mcp_gemini/Cargo.toml
  tools/mcp/mcp_gemini/README.md
  tools/mcp/mcp_gemini/docs/README.md
  tools/mcp/mcp_gemini/mcp_gemini/__init__.py
  tools/mcp/mcp_gemini/mcp_gemini/gemini_integration.py
  tools/mcp/mcp_gemini/mcp_gemini/server.py
  tools/mcp/mcp_gemini/mcp_gemini/tools.py
  tools/mcp/mcp_gemini/pyproject.toml
  tools/mcp/mcp_gemini/scripts/start_server.sh
  tools/mcp/mcp_gemini/scripts/test_container.py
  tools/mcp/mcp_gemini/scripts/test_server.py
  tools/mcp/mcp_gemini/src/gemini.rs
  tools/mcp/mcp_gemini/src/main.rs
  tools/mcp/mcp_gemini/src/server.rs
  tools/mcp/mcp_gemini/src/types.rs
Due: ty, check-markdown-links

feat(mcp-crush): migrate Crush MCP server from Python to Rust
  docker/python-ci.Dockerfile
  tests/test_ai_agent_mcp_tools.py
  tools/mcp/mcp_crush/Cargo.lock
  tools/mcp/mcp_crush/Cargo.toml
  tools/mcp/mcp_crush/README.md
  tools/mcp/mcp_crush/mcp_crush/__init__.py
  tools/mcp/mcp_crush/mcp_crush/crush_integration.py
  tools/mcp/mcp_crush/mcp_crush/server.py
  tools/mcp/mcp_crush/mcp_crush/tools.py
  tools/mcp/mcp_crush/pyproject.toml
  tools/mcp/mcp_crush/scripts/test_crush_cli.sh
  tools/mcp/mcp_crush/scripts/test_crush_cli_container.sh
  tools/mcp/mcp_crush/scripts/test_server.py
  tools/mcp/mcp_crush/src/crush.rs
  tools/mcp/mcp_crush/src/main.rs
  tools/mcp/mcp_crush/src/server.rs
  tools/mcp/mcp_crush/src/types.rs
Due: ty, check-markdown-links

feat(mcp-opencode): migrate OpenCode MCP server from Python to Rust
  docker/python-ci.Dockerfile
  tests/test_ai_agent_mcp_tools.py
  tools/mcp/mcp_opencode/Cargo.lock
  tools/mcp/mcp_opencode/Cargo.toml
  tools/mcp/mcp_opencode/README.md
  tools/mcp/mcp_opencode/mcp_opencode/__init__.py
  tools/mcp/mcp_opencode/mcp_opencode/opencode_integration.py
  tools/mcp/mcp_opencode/mcp_opencode/server.py
  tools/mcp/mcp_opencode/mcp_opencode/tools.py
  tools/mcp/mcp_opencode/pyproject.toml
  tools/mcp/mcp_opencode/scripts/test_opencode_cli.sh
  tools/mcp/mcp_opencode/scripts/test_opencode_cli_container.sh
  tools/mcp/mcp_opencode/scripts/test_server.py
  tools/mcp/mcp_opencode/src/main.rs
  tools/mcp/mcp_opencode/src/opencode.rs
  tools/mcp/mcp_opencode/src/server.rs
  tools/mcp/mcp_opencode/src/types.rs
Due: ty, check-markdown-links

docs: update documentation and CI for Rust MCP server migrations
  .github/workflows/main-ci.yml
  docs/integrations/ai-services/ai-code-agents.md
  docs/mcp/servers.md
Due: check-markdown-links

ci: add mcp-gemini to rust-cli-tools artifact and update workflows for Rust
  .github/workflows/ai-code-review.yml
  .github/workflows/pr-validation.yml
  docs/integrations/ai-services/gemini-setup.md
Due: check-markdown-links

ci: update Dockerfiles and workflows for Rust MCP servers
  .github/workflows/mcp-tools.yml
  docker-compose.yml
  docker/mcp-crush.Dockerfile
  docker/mcp-opencode.Dockerfile
  docs/QUICKSTART.md
Due: check-markdown-links

docs: update MCP configuration examples for Rust binaries
  .mcp.json
  .mcp.json.full
  docs/QUICKSTART.md
Due: check-markdown-links

fix: address AI review feedback (iteration 0)
  .github/workflows/mcp-tools.yml
Due: none

fix: address AI review feedback (iteration 1)
  .github/workflows/mcp-tools.yml
Due: none

fix: update Dockerfiles to Rust 1.85 for edition 2024 support
  docker/codex.Dockerfile
  docker/mcp-crush.Dockerfile
  docker/mcp-gemini.Dockerfile
  docker/mcp-opencode.Dockerfile
  docker/openrouter-agents.Dockerfile
  docker/python-ci.Dockerfile
  packages/economic_agents/Dockerfile
  tools/mcp/mcp_reaction_search/Dockerfile
Due: none

chore: standardize on Rust 1.93.0 across all Dockerfiles
  docker/codex.Dockerfile
  docker/mcp-crush.Dockerfile
  docker/mcp-gemini.Dockerfile
  docker/mcp-opencode.Dockerfile
  docker/openrouter-agents.Dockerfile
  docker/python-ci.Dockerfile
  docker/rust-ci-nightly.Dockerfile
  docker/rust-ci.Dockerfile
  docs/plans/mcp-rust-migration-plan.md
  infra/aws/docker/strands-runtime-rust/Dockerfile
  infra/aws/rust-runtime/README.md
  packages/economic_agents/Dockerfile
  tools/mcp/mcp_reaction_search/Dockerfile
Due: check-markdown-links

fix: add g++ to mcp-reaction-search Dockerfile for ONNX linking
  tools/mcp/mcp_reaction_search/Dockerfile
Due: none

fix: set CARGO_TARGET_DIR in mcp-reaction-search Dockerfile
  tools/mcp/mcp_reaction_search/Dockerfile
Due: none

fix(ci): remove hardcoded container names to prevent CI conflicts
  .github/actions/docker-compose-health-check/action.yml
  docker-compose.yml
Due: none

fix: resolve CI pipeline failures
  .github/workflows/sleeper-agents-tests.yml
  .github/workflows/test-github-board.yml
Due: none

fix: use docker compose V2 in Rust code and improve CI cleanup
  .github/actions/docker-compose-health-check/action.yml
  tools/mcp/mcp_crush/src/crush.rs
Due: none

fix: address Gemini review security and bug issues
  .github/workflows/mcp-tools.yml
  packages/sleeper_agents/dashboard/start.bat
  packages/sleeper_agents/dashboard/start.sh
Due: none

feat(mcp-meme-generator): migrate from Python to Rust
  .github/workflows/main-ci.yml
  docker-compose.yml
  docker/mcp-meme.Dockerfile
  tools/mcp/mcp_meme_generator/Cargo.lock
  tools/mcp/mcp_meme_generator/Cargo.toml
  tools/mcp/mcp_meme_generator/README.md
  tools/mcp/mcp_meme_generator/assets/DejaVuSans-Bold.ttf
  tools/mcp/mcp_meme_generator/docs/MEME_USAGE_GUIDE.md
  tools/mcp/mcp_meme_generator/docs/README.md
  tools/mcp/mcp_meme_generator/docs/UPLOAD_GUIDE.md
  tools/mcp/mcp_meme_generator/mcp_meme_generator/__init__.py
  tools/mcp/mcp_meme_generator/mcp_meme_generator/server.py
  tools/mcp/mcp_meme_generator/mcp_meme_generator/tools.py
  tools/mcp/mcp_meme_generator/mcp_meme_generator/upload.py
  tools/mcp/mcp_meme_generator/pyproject.toml
  tools/mcp/mcp_meme_generator/scripts/test_server.py
  tools/mcp/mcp_meme_generator/src/generator.rs
  tools/mcp/mcp_meme_generator/src/main.rs
  tools/mcp/mcp_meme_generator/src/server.rs
  tools/mcp/mcp_meme_generator/src/types.rs
  tools/mcp/mcp_meme_generator/src/upload.rs
  tools/mcp/mcp_meme_generator/tests/test_meme_generator.py
Due: ty, check-markdown-links

feat(mcp-content-creation): migrate from Python to Rust
  .github/workflows/main-ci.yml
  docker-compose.yml
  docker/mcp-content.Dockerfile
  tools/mcp/mcp_content_creation/Cargo.lock
  tools/mcp/mcp_content_creation/Cargo.toml
  tools/mcp/mcp_content_creation/README.md
  tools/mcp/mcp_content_creation/docs/README.md
  tools/mcp/mcp_content_creation/mcp_content_creation/__init__.py
  tools/mcp/mcp_content_creation/mcp_content_creation/server.py
  tools/mcp/mcp_content_creation/mcp_content_creation/tools.py
  tools/mcp/mcp_content_creation/pyproject.toml
  tools/mcp/mcp_content_creation/scripts/test_server.py
  tools/mcp/mcp_content_creation/src/engine.rs
  tools/mcp/mcp_content_creation/src/main.rs
  tools/mcp/mcp_content_creation/src/server.rs
  tools/mcp/mcp_content_creation/src/types.rs
  tools/mcp/mcp_content_creation/tests/test_content_creation.py
Due: ty, check-markdown-links

feat(mcp-code-quality): migrate from Python to Rust
  .github/workflows/main-ci.yml
  docker-compose.yml
  docker/mcp-code-quality.Dockerfile
  tools/mcp/mcp_code_quality/Cargo.lock
  tools/mcp/mcp_code_quality/Cargo.toml
  tools/mcp/mcp_code_quality/README.md
  tools/mcp/mcp_code_quality/mcp_code_quality/__init__.py
  tools/mcp/mcp_code_quality/mcp_code_quality/server.py
  tools/mcp/mcp_code_quality/mcp_code_quality/tools.py
  tools/mcp/mcp_code_quality/pyproject.toml
  tools/mcp/mcp_code_quality/scripts/test_server.py
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_code_quality/src/main.rs
  tools/mcp/mcp_code_quality/src/server.rs
  tools/mcp/mcp_code_quality/src/types.rs
  tools/mcp/mcp_code_quality/tests/conftest.py
  tools/mcp/mcp_code_quality/tests/test_code_quality.py
Due: ty, check-markdown-links

fix: address AI review feedback (iteration 0)
  docker/mcp-code-quality.Dockerfile
  docker/mcp-content.Dockerfile
  docker/python-ci.Dockerfile
  tools/mcp/mcp_code_quality/src/engine.rs
Due: none

feat(mcp-code-quality): add check_markdown_links tool, fix CI
  docker/mcp-content.Dockerfile
  tools/mcp/mcp_code_quality/README.md
  tools/mcp/mcp_code_quality/docs/README.md
  tools/mcp/mcp_code_quality/src/engine.rs
  tools/mcp/mcp_code_quality/src/server.rs
  tools/mcp/mcp_code_quality/src/types.rs
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  docker/mcp-code-quality.Dockerfile
Due: none

feat(agentcore): add secure code review endpoint with prompt injection detection
  infra/aws/rust-runtime/Cargo.lock
  infra/aws/rust-runtime/Cargo.toml
  infra/aws/rust-runtime/strands-agent/src/agent.rs
  infra/aws/rust-runtime/strands-agent/src/lib.rs
  infra/aws/rust-runtime/strands-agent/src/loop_control.rs
  infra/aws/rust-runtime/strands-agent/src/model.rs
  infra/aws/rust-runtime/strands-core/src/content.rs
  infra/aws/rust-runtime/strands-core/src/event.rs
  infra/aws/rust-runtime/strands-models/src/bedrock.rs
  infra/aws/rust-runtime/strands-runtime/Cargo.toml
  infra/aws/rust-runtime/strands-runtime/src/code_review/endpoint.rs
  infra/aws/rust-runtime/strands-runtime/src/code_review/mod.rs
  infra/aws/rust-runtime/strands-runtime/src/code_review/request.rs
  infra/aws/rust-runtime/strands-runtime/src/code_review/schema.rs
  infra/aws/rust-runtime/strands-runtime/src/handlers.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/detector.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/mod.rs
  infra/aws/rust-runtime/strands-runtime/src/injection_guard/patterns.rs
  infra/aws/rust-runtime/strands-runtime/src/lib.rs
  infra/aws/rust-runtime/strands-runtime/src/secrets.rs
  infra/aws/rust-runtime/strands-runtime/src/server.rs
  infra/aws/rust-runtime/strands-session/src/manager.rs
  infra/aws/rust-runtime/strands-tools/Cargo.toml
  infra/aws/rust-runtime/strands-tools/src/json_response/commit_response.rs
  infra/aws/rust-runtime/strands-tools/src/json_response/mod.rs
  infra/aws/rust-runtime/strands-tools/src/json_response/state.rs
  infra/aws/rust-runtime/strands-tools/src/json_response/validate_json.rs
  infra/aws/rust-runtime/strands-tools/src/lib.rs
  infra/aws/rust-runtime/strands-tools/src/mcp.rs
  infra/aws/rust-runtime/strands-tools/src/registry.rs
  tools/rust/code-review-processor/Cargo.lock
  tools/rust/code-review-processor/Cargo.toml
  tools/rust/code-review-processor/src/cli.rs
  tools/rust/code-review-processor/src/git.rs
  tools/rust/code-review-processor/src/github.rs
  tools/rust/code-review-processor/src/main.rs
  tools/rust/code-review-processor/src/processor.rs
Due: none

fix: resolve CI pipeline failures
  tests/test_basic.py
Due: none

fix(mcp-content-creation): use python:3.11-slim base for glibc compatibility
  docker/mcp-content.Dockerfile
Due: none
