Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

ty:
  name: ty type check
  entry: docker compose --profile ci run --rm python-ci ty check
  language: system
  pass_filenames: false

rust-fmt-gh-validator:
  name: Rust format gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-pr-monitor:
  name: Rust format pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-injection-toolkit:
  name: Rust format injection-toolkit
  entry: docker compose --profile ci run --rm rust-ci cargo fmt --all -- --check
  language: system
  pass_filenames: false

rust-fmt-automation-cli:
  name: Rust format automation-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/automation-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-board-manager:
  name: Rust format board-manager
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/board-manager && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-code-parser:
  name: Rust format code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy-code-parser:
  name: Rust lint code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-code-review-processor:
  name: Rust format code-review-processor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-review-processor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-git-guard:
  name: Rust format git-guard
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/git-guard && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-github-agents-cli:
  name: Rust format github-agents-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/github-agents-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-markdown-link-checker:
  name: Rust format markdown-link-checker
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/markdown-link-checker && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-mcp-code-quality:
  name: Rust format mcp-code-quality
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/mcp-code-quality && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-wrapper-common:
  name: Rust format wrapper-common
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/wrapper-common && cargo fmt --all'
  language: system
  pass_filenames: false

check-markdown-links:
  name: Check markdown links (Rust)
  ...

fix(sleeper_agents): align dashboard calibration guidance and drop dead constants import
  packages/sleeper_agents/dashboard/components/calibration_metrics.py
  packages/sleeper_agents/dashboard/components/evaluation_job_form.py
  packages/sleeper_agents/dashboard/tests/test_platform_data_loader.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
Due: ty

fix(docker): drop stale torchvision/torchaudio from the sleeper GPU eval image
  docker/sleeper-evaluation.Dockerfile
Due: none

docs(sleeper_agents): report held-out deception-probe results
  packages/sleeper_agents/docs/DECEPTION_DETECTION.md
  packages/sleeper_agents/docs/DECEPTION_DETECTION_RESULTS.md
  packages/sleeper_agents/docs/DETECTION_METHODS.md
  packages/sleeper_agents/docs/INDEX.md
  packages/sleeper_agents/docs/PROBE_CALIBRATION.md
  packages/sleeper_agents/docs/pytorch_probes.md
Due: check-markdown-links

docs(sleeper_agents): drop the stale page count for the framework guide
  packages/sleeper_agents/README.md
  packages/sleeper_agents/docs/INDEX.md
  packages/sleeper_agents/docs/README.md
Due: check-markdown-links

docs(sleeper_agents): replace unreproducible results in the framework guide with measured data
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: none

docs(sleeper_agents): update README, CHANGELOG, TODO and script docs with regenerated results
  packages/sleeper_agents/CHANGELOG.md
  packages/sleeper_agents/README.md
  packages/sleeper_agents/TODO.md
  packages/sleeper_agents/scripts/audit/README.md
  packages/sleeper_agents/scripts/audit/audit_with_art.py
  packages/sleeper_agents/scripts/testing/README.md
Due: ty, check-markdown-links

fix(sleeper_agents): keep internal-state statistics finite for fp16 models
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/internal_state_monitor.py
  packages/sleeper_agents/tests/test_hf_attention_patterns.py
  packages/sleeper_agents/tests/test_internal_state_monitor.py
Due: ty

fix(sleeper_agents): locate transformer blocks of LoRA models in InternalStateMonitor
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/internal_state_monitor.py
  packages/sleeper_agents/tests/test_hf_attention_patterns.py
Due: ty

fix(sleeper_agents): return attention patterns from sdpa HuggingFace models
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/internal_state_monitor.py
  packages/sleeper_agents/src/sleeper_agents/models/model_interface.py
  packages/sleeper_agents/tests/test_hf_attention_patterns.py
Due: ty

fix(sleeper_agents): build TrainingArguments on transformers 5
  packages/sleeper_agents/src/sleeper_agents/training/fine_tuner.py
  packages/sleeper_agents/tests/test_fine_tuner_training_args.py
Due: ty

docs(sleeper_agents): soften wording that implies unknown-backdoor detection
  README.md
  packages/sleeper_agents/dashboard/components/internal_state.py
  packages/sleeper_agents/docs/API_REFERENCE.md
  packages/sleeper_agents/docs/ARCHITECTURE.md
  packages/sleeper_agents/docs/CLI_REFERENCE.md
  packages/sleeper_agents/docs/QUICK_START.md
  packages/sleeper_agents/docs/TRANSFORMERLENS_GUIDE.md
  packages/sleeper_agents/notebooks/01_basic_detection.ipynb
  packages/sleeper_agents/notebooks/README.md
  packages/sleeper_agents/notebooks/interactive_sleeper_agents.ipynb
  packages/sleeper_agents/src/sleeper_agents/probes/README.md
Due: ty, check-markdown-links

docs(sleeper_agents): record backdoor experiment in CHANGELOG and TODO
  packages/sleeper_agents/CHANGELOG.md
  packages/sleeper_agents/TODO.md
Due: check-markdown-links

docs(sleeper_agents): add backdoor detection experiment to the framework guide
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: none

docs(sleeper_agents): document measured backdoor detection scope per method
  packages/sleeper_agents/README.md
  packages/sleeper_agents/docs/DETECTION_METHODS.md
  packages/sleeper_agents/docs/REPORT_INTERPRETATION.md
  packages/sleeper_agents/docs/SCRIPTS_REFERENCE.md
  packages/sleeper_agents/docs/TEST_SUITES.md
  packages/sleeper_agents/docs/TRAINING.md
Due: check-markdown-links

docs(sleeper_agents): add backdoor detection results page
  packages/sleeper_agents/docs/BACKDOOR_DETECTION_RESULTS.md
  packages/sleeper_agents/docs/INDEX.md
  packages/sleeper_agents/docs/README.md
Due: check-markdown-links

docs(sleeper_agents): map backdoor experiment provenance hashes to branch commits
  packages/sleeper_agents/docs/results/2026-09-backdoor-experiment/SUMMARY.md
Due: check-markdown-links

chore(sleeper_agents): archive CPU smoke-test outputs and ignore root evaluation_results
  .gitignore
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/README.md
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/cpu_test_results_EleutherAI_pythia-70m.json
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/cpu_test_results_distilgpt2.json
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/residual_analysis_results.json
Due: check-markdown-links

docs(hardware): add agent swarm honeypot program guide
  .github/workflows/build-docs.yml
  .github/workflows/main-ci.yml
  AGENTS.md
  README.md
  docs/README.md
  docs/hardware/README.md
  docs/hardware/agent-swarm-honeypot-guide.md
  docs/hardware/latex/agent-swarm-honeypot-guide.tex
Due: check-markdown-links

docs(hardware): refresh AI agent containment framework to v2.0
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
Due: check-markdown-links

ci: list Agent Swarm Honeypot Guide in release notes
  .github/workflows/main-ci.yml
Due: none

docs(hardware): containment framework v2.0, agent swarm honeypot guide, archive smoke-test results (#341)
  .github/workflows/build-docs.yml
  .github/workflows/main-ci.yml
  .gitignore
  AGENTS.md
  README.md
  docs/README.md
  docs/hardware/README.md
  docs/hardware/agent-swarm-honeypot-guide.md
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/latex/agent-swarm-honeypot-guide.tex
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/README.md
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/cpu_test_results_EleutherAI_pythia-70m.json
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/cpu_test_results_distilgpt2.json
  packages/sleeper_agents/docs/results/2026-09-cpu-smoke-tests/residual_analysis_results.json
Due: check-markdown-links

docs: address review shortcomings in philosophy, economic, and BioForge reports
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/bioforge-crispr-automation.md
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
  docs/hardware/latex/bioforge-crispr-automation.tex
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/bioforge/README.md
  packages/bioforge/docs/governance-implications.md
  packages/economic_agents/README.md
  packages/economic_agents/docs/economic-implications.md
Due: check-markdown-links

docs: address review shortcomings in philosophy, economic, and BioForge reports (#343)
  docs/hardware/ai-agent-containment-infrastructure-security-framework.md
  docs/hardware/bioforge-crispr-automation.md
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
  docs/hardware/latex/bioforge-crispr-automation.tex
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
  docs/projections/ai-agents-political-targeting.md
  docs/projections/ai-agents-wmd-proliferation.md
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/bioforge/README.md
  packages/bioforge/docs/governance-implications.md
  packages/economic_agents/README.md
  packages/economic_agents/docs/economic-implications.md
Due: check-markdown-links

docs(philosophy): readability, layout, and figures for Architectural Qualia
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
Due: check-markdown-links

docs(philosophy): readability, layout, and figures for Architectural Qualia (#344)
  docs/philosophy/architectural-qualia.md
  docs/philosophy/latex/architectural-qualia.tex
Due: check-markdown-links

docs: presentation overhaul for LaTeX reports, covers, and part dividers
  docs/agents/Agentic_Workflow_Handout.tex
  docs/hardware/latex/agent-swarm-honeypot-guide.tex
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
  docs/hardware/latex/bioforge-crispr-automation.tex
  docs/hardware/latex/secure-terminal-briefcase.tex
  docs/integrations/ai-services/AgentCore_Memory_Integration_Guide.tex
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: none

docs: presentation overhaul for LaTeX reports, covers, and part dividers (#345)
  docs/agents/Agentic_Workflow_Handout.tex
  docs/hardware/latex/agent-swarm-honeypot-guide.tex
  docs/hardware/latex/ai-agent-containment-infrastructure-security-framework.tex
  docs/hardware/latex/bioforge-crispr-automation.tex
  docs/hardware/latex/secure-terminal-briefcase.tex
  docs/integrations/ai-services/AgentCore_Memory_Integration_Guide.tex
  docs/integrations/ai-services/Virtual_Character_System_Guide.tex
  docs/projections/latex/ai-agents-economic-actors.tex
  docs/projections/latex/ai-agents-espionage-operations.tex
  docs/projections/latex/ai-agents-financial-integrity.tex
  docs/projections/latex/ai-agents-institutional-erosion.tex
  docs/projections/latex/ai-agents-political-targeting.tex
  docs/projections/latex/ai-agents-wmd-proliferation.tex
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
Due: none

fix(ci): serialize github-board process tests and silence Bandit B106 false positive
  packages/sleeper_agents/docs/results/2026-09-backdoor-experiment/runners/run_generic_probes.py
  tools/mcp/mcp_github_board/src/runner.rs
Due: ty, rust-fmt-mcp-servers

fix(ci): serialize github-board process tests and silence Bandit B106 false positive (#347)
  packages/sleeper_agents/docs/results/2026-09-backdoor-experiment/runners/run_generic_probes.py
  tools/mcp/mcp_github_board/src/runner.rs
Due: ty, rust-fmt-mcp-servers

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$
