Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

ty:
  name: ty type check
  entry: docker compose --profile ci run --rm python-ci ty check
  language: system
  pass_filenames: false

rust-fmt-gh-validator:
  name: Rust format gh-validator
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/gh-validator && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-pr-monitor:
  name: Rust format pr-monitor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/pr-monitor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-injection-toolkit:
  name: Rust format injection-toolkit
  entry: docker compose --profile ci run --rm rust-ci cargo fmt --all -- --check
  language: system
  pass_filenames: false

rust-fmt-automation-cli:
  name: Rust format automation-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/automation-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-board-manager:
  name: Rust format board-manager
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/board-manager && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-code-parser:
  name: Rust format code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo fmt --all'
  language: system
  pass_filenames: false

rust-clippy-code-parser:
  name: Rust lint code-parser
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-parser && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-fmt-code-review-processor:
  name: Rust format code-review-processor
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/code-review-processor && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-git-guard:
  name: Rust format git-guard
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/git-guard && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-github-agents-cli:
  name: Rust format github-agents-cli
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/github-agents-cli && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-markdown-link-checker:
  name: Rust format markdown-link-checker
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/markdown-link-checker && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-mcp-code-quality:
  name: Rust format mcp-code-quality
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/mcp-code-quality && cargo fmt --all'
  language: system
  pass_filenames: false

rust-fmt-wrapper-common:
  name: Rust format wrapper-common
  entry: bash -c 'source "$HOME/.cargo/env" 2>/dev/null || true; cd tools/rust/wrapper-common && cargo fmt --all'
  language: system
  pass_filenames: false

check-markdown-links:
  name: Check markdown links (Rust)
  ...

fix: classify transient network errors as AgentExecutionFailed instead of Config (#307)
  tools/rust/github-agents-cli/src/error.rs
  tools/rust/github-agents-cli/src/review/agents/claude.rs
  tools/rust/github-agents-cli/src/review/agents/codex.rs
  tools/rust/github-agents-cli/src/review/agents/crush.rs
  tools/rust/github-agents-cli/src/review/agents/gemini.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/agents/opencode.rs
Due: rust-fmt-github-agents-cli

feat: disable OpenAI/Codex integrations due to mass surveillance security risk
  .agents.yaml
  .env.example
  .github/actions/board-agent-work/README.md
  .github/actions/codex-review/action.yml
  .github/workflows/board-agent-worker.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/scheduled-agent-work.yml
  .mcp.json
  AGENTS.md
  CLAUDE.md
  README.md
  docker-compose.yml
  docs/QUICKSTART.md
  docs/agents/README.md
  docs/agents/agent-matrix.md
  docs/agents/codex-setup.md
  docs/integrations/ai-services/ai-code-agents-ref.md
  docs/integrations/ai-services/ai-code-agents.md
  docs/mcp/README.md
  docs/mcp/servers.md
  tools/mcp/mcp_codex/README.md
Due: check-markdown-links

feat: disable OpenAI/Codex integrations due to mass surveillance security risk (#308)
  .agents.yaml
  .env.example
  .github/actions/board-agent-work/README.md
  .github/actions/codex-review/action.yml
  .github/workflows/board-agent-worker.yml
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/scheduled-agent-work.yml
  .mcp.json
  AGENTS.md
  CLAUDE.md
  README.md
  docker-compose.yml
  docs/QUICKSTART.md
  docs/agents/README.md
  docs/agents/agent-matrix.md
  docs/agents/codex-setup.md
  docs/integrations/ai-services/ai-code-agents-ref.md
  docs/integrations/ai-services/ai-code-agents.md
  docs/mcp/README.md
  docs/mcp/servers.md
  tools/mcp/mcp_codex/README.md
Due: check-markdown-links

docs: streamline OpenAI security notice, add GitHub Pages link and companion repo binaries note
  README.md
Due: check-markdown-links

docs: streamline OpenAI security notice, add GitHub Pages link and companion repo binaries note (#309)
  README.md
Due: check-markdown-links

feat: add Rust CLI/orchestration workspace for sleeper agents (phase 1)
  packages/sleeper_agents/Cargo.lock
  packages/sleeper_agents/Cargo.toml
  packages/sleeper_agents/crates/sleeper-api-client/Cargo.toml
  packages/sleeper_agents/crates/sleeper-api-client/src/lib.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/models.rs
  packages/sleeper_agents/crates/sleeper-cli/Cargo.toml
  packages/sleeper_agents/crates/sleeper-cli/src/commands/clean.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/mod.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/status.rs
  packages/sleeper_agents/crates/sleeper-cli/src/main.rs
  packages/sleeper_agents/crates/sleeper-db/Cargo.toml
  packages/sleeper_agents/crates/sleeper-db/src/lib.rs
  packages/sleeper_agents/crates/sleeper-db/src/queries.rs
  packages/sleeper_agents/crates/sleeper-db/src/schema.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/Cargo.toml
  packages/sleeper_agents/crates/sleeper-orchestrator/src/config.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/docker.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/health.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/lib.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/output.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/process.rs
  packages/sleeper_agents/deny.toml
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/ci/stages.rs
Due: rust-fmt-automation-cli

feat: add detect and evaluate commands to sleeper-cli (phase 2)
  packages/sleeper_agents/crates/sleeper-api-client/src/lib.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/models.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/clean.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/detect.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/evaluate.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/mod.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/status.rs
  packages/sleeper_agents/crates/sleeper-cli/src/common.rs
  packages/sleeper_agents/crates/sleeper-cli/src/main.rs
Due: none

feat: add train subcommands and job management to sleeper-cli (phase 3)
  packages/sleeper_agents/crates/sleeper-api-client/src/lib.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator_models.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/mod.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/train.rs
  packages/sleeper_agents/crates/sleeper-cli/src/common.rs
  packages/sleeper_agents/crates/sleeper-cli/src/main.rs
Due: none

feat: add report, batch, and database export to sleeper-cli (phase 4)
  packages/sleeper_agents/Cargo.lock
  packages/sleeper_agents/Cargo.toml
  packages/sleeper_agents/crates/sleeper-cli/Cargo.toml
  packages/sleeper_agents/crates/sleeper-cli/src/commands/batch.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/mod.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/report.rs
  packages/sleeper_agents/crates/sleeper-cli/src/main.rs
  packages/sleeper_agents/crates/sleeper-db/Cargo.toml
  packages/sleeper_agents/crates/sleeper-db/src/export.rs
  packages/sleeper_agents/crates/sleeper-db/src/lib.rs
  packages/sleeper_agents/crates/sleeper-db/src/queries.rs
Due: none

fix: address audit gaps in sleeper-cli (tests, hooks, timeouts, docker)
  .pre-commit-config.yaml
  packages/sleeper_agents/crates/sleeper-api-client/src/lib.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/batch.rs
  packages/sleeper_agents/crates/sleeper-cli/src/common.rs
  packages/sleeper_agents/crates/sleeper-db/src/export.rs
  packages/sleeper_agents/crates/sleeper-db/src/queries.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/process.rs
  packages/sleeper_agents/docker/docker-compose.gpu.yml
Due: none

fix: harden sleeper-cli code quality, add 40 tests, clean unused deps
  packages/sleeper_agents/Cargo.lock
  packages/sleeper_agents/Cargo.toml
  packages/sleeper_agents/crates/sleeper-api-client/src/lib.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator.rs
  packages/sleeper_agents/crates/sleeper-cli/Cargo.toml
  packages/sleeper_agents/crates/sleeper-cli/src/commands/detect.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/evaluate.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/report.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/status.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/train.rs
  packages/sleeper_agents/crates/sleeper-db/Cargo.toml
  packages/sleeper_agents/crates/sleeper-db/src/export.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/Cargo.toml
  packages/sleeper_agents/crates/sleeper-orchestrator/src/docker.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/health.rs
  packages/sleeper_agents/crates/sleeper-orchestrator/src/output.rs
  packages/sleeper_agents/deny.toml
Due: none

docs: add sleeper-cli to CI pipelines, release builds, and documentation
  .github/workflows/main-ci.yml
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/agents/README.md
  packages/sleeper_agents/CHANGELOG.md
  packages/sleeper_agents/README.md
  packages/sleeper_agents/docs/ARCHITECTURE.md
  packages/sleeper_agents/docs/CLI_REFERENCE.md
  packages/sleeper_agents/docs/DOCKER_DEPLOYMENT.md
  packages/sleeper_agents/docs/INSTALLATION.md
  packages/sleeper_agents/docs/QUICK_START.md
  packages/sleeper_agents/docs/Sleeper_Agents_Framework_Guide.tex
  site/index.html
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
Due: none

fix: address AI review feedback (iteration 2)
  packages/sleeper_agents/crates/sleeper-cli/src/commands/evaluate.rs
Due: none

fix: detect and retry when review agent claims fixes but modifies no files
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 1)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 2)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 3)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: detect and retry when review agent claims fixes but edits no files (#311)
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: use floor_char_boundary for UTF-8 safe context truncation
  tools/rust/github-agents-cli/src/review/prompt.rs
Due: rust-fmt-github-agents-cli

fix: use floor_char_boundary for UTF-8 safe context truncation (#312)
  tools/rust/github-agents-cli/src/review/prompt.rs
Due: rust-fmt-github-agents-cli

fix: robustify review response agent commit/push flow
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: restore comment-before-push order for pipeline compatibility
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: handle Gemini API INVALID_ARGUMENT as transient error
  .github/actions/gemini-review/action.yml
Due: none

fix: empty commit guard + better hallucination detection in review agent (#313)
  .github/actions/gemini-review/action.yml
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

feat: add sprite sheet MCP server with image import and edge cleanup
  .mcp.json
  docker-compose.yml
  docker/mcp-sprite-sheet.Dockerfile
  tools/mcp/mcp_sprite_sheet/Cargo.lock
  tools/mcp/mcp_sprite_sheet/Cargo.toml
  tools/mcp/mcp_sprite_sheet/src/engine.rs
  tools/mcp/mcp_sprite_sheet/src/main.rs
  tools/mcp/mcp_sprite_sheet/src/palette.rs
  tools/mcp/mcp_sprite_sheet/src/render.rs
  tools/mcp/mcp_sprite_sheet/src/server.rs
  tools/mcp/mcp_sprite_sheet/src/tools/cleanup.rs
  tools/mcp/mcp_sprite_sheet/src/tools/draw.rs
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
  tools/mcp/mcp_sprite_sheet/src/tools/layer.rs
  tools/mcp/mcp_sprite_sheet/src/tools/mod.rs
  tools/mcp/mcp_sprite_sheet/src/tools/palette.rs
  tools/mcp/mcp_sprite_sheet/src/tools/project.rs
  tools/mcp/mcp_sprite_sheet/src/tools/render.rs
  tools/mcp/mcp_sprite_sheet/src/tools/sprite.rs
  tools/mcp/mcp_sprite_sheet/src/tools/transform.rs
  tools/mcp/mcp_sprite_sheet/src/tools/undo.rs
  tools/mcp/mcp_sprite_sheet/src/types.rs
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/ci/stages.rs
Due: rust-fmt-automation-cli, rust-fmt-mcp-servers

docs: add sprite sheet MCP server to all documentation and GitHub Pages
  .mcp.json.full
  CLAUDE.md
  README.md
  docs/mcp/README.md
  docs/mcp/servers.md
  docs/mcp/tools.md
  site/index.html
Due: check-markdown-links

docs: add README for sprite sheet MCP server
  tools/mcp/mcp_sprite_sheet/README.md
Due: check-markdown-links

fix: address AI review feedback (iteration 1)
  .mcp.json.full
  tools/mcp/mcp_sprite_sheet/src/tools/draw.rs
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
  tools/mcp/mcp_sprite_sheet/src/tools/layer.rs
  tools/mcp/mcp_sprite_sheet/src/tools/mod.rs
  tools/mcp/mcp_sprite_sheet/src/tools/parse.rs
Due: rust-fmt-mcp-servers

fix: address AI review feedback (iteration 2)
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
  tools/mcp/mcp_sprite_sheet/src/tools/layer.rs
Due: rust-fmt-mcp-servers

fix: address AI review feedback (iteration 3)
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
Due: rust-fmt-mcp-servers

fix: sort import ordering in sprite sheet tools for rustfmt
  tools/mcp/mcp_sprite_sheet/src/tools/draw.rs
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
  tools/mcp/mcp_sprite_sheet/src/tools/layer.rs
Due: rust-fmt-mcp-servers

feat: add sprite sheet MCP server (#314)
  .mcp.json
  .mcp.json.full
  CLAUDE.md
  README.md
  docker-compose.yml
  docker/mcp-sprite-sheet.Dockerfile
  docs/mcp/README.md
  docs/mcp/servers.md
  docs/mcp/tools.md
  site/index.html
  tools/mcp/mcp_sprite_sheet/Cargo.lock
  tools/mcp/mcp_sprite_sheet/Cargo.toml
  tools/mcp/mcp_sprite_sheet/README.md
  tools/mcp/mcp_sprite_sheet/src/engine.rs
  tools/mcp/mcp_sprite_sheet/src/main.rs
  tools/mcp/mcp_sprite_sheet/src/palette.rs
  tools/mcp/mcp_sprite_sheet/src/render.rs
  tools/mcp/mcp_sprite_sheet/src/server.rs
  tools/mcp/mcp_sprite_sheet/src/tools/cleanup.rs
  tools/mcp/mcp_sprite_sheet/src/tools/draw.rs
  tools/mcp/mcp_sprite_sheet/src/tools/import.rs
  tools/mcp/mcp_sprite_sheet/src/tools/layer.rs
  tools/mcp/mcp_sprite_sheet/src/tools/mod.rs
  tools/mcp/mcp_sprite_sheet/src/tools/palette.rs
  tools/mcp/mcp_sprite_sheet/src/tools/parse.rs
  tools/mcp/mcp_sprite_sheet/src/tools/project.rs
  tools/mcp/mcp_sprite_sheet/src/tools/render.rs
  tools/mcp/mcp_sprite_sheet/src/tools/sprite.rs
  tools/mcp/mcp_sprite_sheet/src/tools/transform.rs
  tools/mcp/mcp_sprite_sheet/src/tools/undo.rs
  tools/mcp/mcp_sprite_sheet/src/types.rs
  tools/rust/automation-cli/src/commands/ci/mod.rs
  tools/rust/automation-cli/src/commands/ci/stages.rs
Due: rust-fmt-automation-cli, rust-fmt-mcp-servers, check-markdown-links

feat: replace Gemini PR reviews with multi-profile Claude + OpenRouter pipeline
  .agents.yaml
  .github/actions/claude-review/action.yml
  .github/actions/openrouter-review/action.yml
  .github/workflows/auto-review.yml
  .github/workflows/pr-review-monitor.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  docs/agents/auto-review.md
  review-profiles.yaml
  tools/rust/github-agents-cli/src/main.rs
  tools/rust/github-agents-cli/src/review/agents/mod.rs
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
  tools/rust/github-agents-cli/src/review/config.rs
  tools/rust/github-agents-cli/src/review/reviewer.rs
Due: rust-fmt-github-agents-cli, check-markdown-links

fix: wire review feedback detection to new Claude/OpenRouter agents
  .github/actions/claude-review/action.yml
  .github/actions/openrouter-review/action.yml
  .github/actions/pr-review-fix/action.yml
  tools/rust/automation-cli/src/commands/review/respond.rs
  tools/rust/github-agents-cli/src/review/agents/openrouter.rs
Due: rust-fmt-automation-cli, rust-fmt-github-agents-cli

fix: MCP server lifecycle conflict + tighten marker filter
  .github/actions/claude-review/action.yml
  .github/actions/openrouter-review/action.yml
  .github/workflows/pr-validation.yml
  tools/rust/automation-cli/src/commands/review/respond.rs
Due: rust-fmt-automation-cli

fix: address AI review feedback (iteration 1)
  openrouter-review.md
Due: check-markdown-links

fix: address AI review feedback (iteration 2)
  .github/workflows/pr-validation.yml
  claude-quality-review.md
  claude-security-review.md
  openrouter-review.md
Due: check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$
