Repository AndrewAltimit/template-repo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, rust-fmt-gh-validator, rust-fmt-pr-monitor, rust-fmt-injection-toolkit, rust-fmt-automation-cli, rust-fmt-board-manager, rust-fmt-code-parser, rust-clippy-code-parser, rust-fmt-code-review-processor, rust-fmt-git-guard, rust-fmt-github-agents-cli, rust-fmt-markdown-link-checker, rust-fmt-mcp-code-quality, rust-fmt-wrapper-common, rust-fmt-economic-agents, rust-fmt-bioforge, rust-fmt-tamper-briefcase, rust-fmt-mcp-core-rust, rust-fmt-mcp-servers, rust-clippy-gh-validator, rust-clippy-pr-monitor, rust-clippy-injection-toolkit, check-markdown-links

Path conditions:
  ty: any of: \.py$, but not: ^(docs/|tests/|automation/|packages/.*/bin/)
  rust-fmt-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-fmt-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-fmt-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  rust-fmt-automation-cli: any of: ^tools/rust/automation-cli/.*\.rs$
  rust-fmt-board-manager: any of: ^tools/rust/board-manager/.*\.rs$
  rust-fmt-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-clippy-code-parser: any of: ^tools/rust/code-parser/.*\.rs$
  rust-fmt-code-review-processor: any of: ^tools/rust/code-review-processor/.*\.rs$
  rust-fmt-git-guard: any of: ^tools/rust/git-guard/.*\.rs$
  rust-fmt-github-agents-cli: any of: ^tools/rust/github-agents-cli/.*\.rs$
  rust-fmt-markdown-link-checker: any of: ^tools/rust/markdown-link-checker/.*\.rs$
  rust-fmt-mcp-code-quality: any of: ^tools/rust/mcp-code-quality/.*\.rs$
  rust-fmt-wrapper-common: any of: ^tools/rust/wrapper-common/.*\.rs$
  rust-fmt-economic-agents: any of: ^packages/economic_agents/.*\.rs$
  rust-fmt-bioforge: any of: ^packages/bioforge/.*\.rs$
  rust-fmt-tamper-briefcase: any of: ^packages/tamper_briefcase/.*\.rs$
  rust-fmt-mcp-core-rust: any of: ^tools/mcp/mcp_core_rust/.*\.rs$
  rust-fmt-mcp-servers: any of: ^tools/mcp/(?!mcp_core_rust|mcp_bioforge|mcp_code_quality).*\.rs$
  rust-clippy-gh-validator: any of: ^tools/rust/gh-validator/.*\.rs$
  rust-clippy-pr-monitor: any of: ^tools/rust/pr-monitor/.*\.rs$
  rust-clippy-injection-toolkit: any of: ^packages/injection_toolkit/.*\.rs$
  check-markdown-links: any of: \.md$

ci(sleeper_agents): run all dashboard and orchestrator unit tests; fix summary gate
  .github/workflows/dashboard-tests.yml
  .github/workflows/sleeper-agents-tests.yml
  packages/sleeper_agents/TODO.md
Due: check-markdown-links

fix(sleeper_agents): harden GPU orchestrator and fix job lifecycle
  packages/sleeper_agents/Cargo.lock
  packages/sleeper_agents/crates/sleeper-api-client/Cargo.toml
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
  packages/sleeper_agents/dashboard/test_data_pipeline.py
  packages/sleeper_agents/dashboard/test_enhanced_pdf.py
  packages/sleeper_agents/dashboard/test_model_config.py
  packages/sleeper_agents/dashboard/test_new_features.py
  packages/sleeper_agents/gpu_orchestrator/.env.example
  packages/sleeper_agents/gpu_orchestrator/README.md
  packages/sleeper_agents/gpu_orchestrator/TESTING.md
  packages/sleeper_agents/gpu_orchestrator/WINDOWS_SETUP.md
  packages/sleeper_agents/gpu_orchestrator/api/main.py
  packages/sleeper_agents/gpu_orchestrator/api/models.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/jobs.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/logs.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/system.py
  packages/sleeper_agents/gpu_orchestrator/core/config.py
  packages/sleeper_agents/gpu_orchestrator/core/container_manager.py
  packages/sleeper_agents/gpu_orchestrator/core/database.py
  packages/sleeper_agents/gpu_orchestrator/start_orchestrator.bat
  packages/sleeper_agents/gpu_orchestrator/start_orchestrator.sh
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_api.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_job_executor.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_models.py
  packages/sleeper_agents/gpu_orchestrator/workers/job_executor.py
  packages/sleeper_agents/gpu_orchestrator/workers/log_cleanup.py
Due: ty, check-markdown-links

fix(sleeper_agents): dashboard shows only measured data; restrict job launching
  packages/sleeper_agents/dashboard/.env.example
  packages/sleeper_agents/dashboard/README.md
  packages/sleeper_agents/dashboard/app.py
  packages/sleeper_agents/dashboard/auth/authentication.py
  packages/sleeper_agents/dashboard/components/evaluation_job_form.py
  packages/sleeper_agents/dashboard/components/export_controls.py
  packages/sleeper_agents/dashboard/components/internal_state.py
  packages/sleeper_agents/dashboard/components/leaderboard.py
  packages/sleeper_agents/dashboard/components/model_comparison.py
  packages/sleeper_agents/dashboard/components/overview.py
  packages/sleeper_agents/dashboard/components/risk_profiles.py
  packages/sleeper_agents/dashboard/components/scaling_analysis.py
  packages/sleeper_agents/dashboard/config/mock_models.py
  packages/sleeper_agents/dashboard/docker-compose.yml
  packages/sleeper_agents/dashboard/docs/MOCK_DATA_SYSTEM.md
  packages/sleeper_agents/dashboard/requirements.txt
  packages/sleeper_agents/dashboard/tests/TESTING.md
  packages/sleeper_agents/dashboard/tests/requirements.test.txt
  packages/sleeper_agents/dashboard/tests/test_platform_auth.py
  packages/sleeper_agents/dashboard/tests/test_platform_data_loader.py
  packages/sleeper_agents/dashboard/tests/test_platform_reports.py
  packages/sleeper_agents/dashboard/tests/test_streamlit_components.py
  packages/sleeper_agents/dashboard/utils/chart_capturer.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
  packages/sleeper_agents/dashboard/utils/gpu_api_client.py
  packages/sleeper_agents/dashboard/utils/metric_format.py
  packages/sleeper_agents/dashboard/utils/model_registry.py
  packages/sleeper_agents/dashboard/utils/pdf_exporter.py
Due: ty, check-markdown-links

fix(sleeper_agents): stop fabricating results in evaluation scripts and advanced detection
  packages/sleeper_agents/scripts/evaluation/backdoor_validation.py
  packages/sleeper_agents/scripts/evaluation/diagnose_cot_issue.py
  packages/sleeper_agents/scripts/evaluation/run_full_evaluation.py
  packages/sleeper_agents/scripts/evaluation/test_persistence.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/generation.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/honeypots.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/internal_state_monitor.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/persona_testing.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/red_teaming.py
  packages/sleeper_agents/src/sleeper_agents/advanced_detection/trigger_sensitivity.py
  packages/sleeper_agents/src/sleeper_agents/analysis/model_scaling.py
  packages/sleeper_agents/src/sleeper_agents/safety_training/pipeline.py
  packages/sleeper_agents/tests/test_advanced_behavioral.py
  packages/sleeper_agents/tests/test_advanced_evaluation_scripts.py
  packages/sleeper_agents/tests/test_internal_state_monitor.py
  packages/sleeper_agents/tests/test_new_modules.py
Due: ty

fix(sleeper_agents): align dashboard and orchestrator with measured-only results
  packages/sleeper_agents/README.md
  packages/sleeper_agents/TODO.md
  packages/sleeper_agents/dashboard/components/build/job_monitor.py
  packages/sleeper_agents/dashboard/components/build/run_evaluation.py
  packages/sleeper_agents/dashboard/components/build/test_persistence.py
  packages/sleeper_agents/dashboard/components/detection_analysis.py
  packages/sleeper_agents/dashboard/components/export.py
  packages/sleeper_agents/dashboard/components/internal_state.py
  packages/sleeper_agents/dashboard/components/leaderboard.py
  packages/sleeper_agents/dashboard/components/model_comparison.py
  packages/sleeper_agents/dashboard/components/persona_profile.py
  packages/sleeper_agents/dashboard/components/test_results.py
  packages/sleeper_agents/dashboard/components/tested_territory.py
  packages/sleeper_agents/dashboard/components/time_series.py
  packages/sleeper_agents/dashboard/tests/test_platform_data_loader.py
  packages/sleeper_agents/dashboard/tests/test_platform_null_semantics.py
  packages/sleeper_agents/dashboard/tests/test_streamlit_components.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
  packages/sleeper_agents/dashboard/utils/gpu_api_client.py
  packages/sleeper_agents/dashboard/utils/metric_format.py
  packages/sleeper_agents/dashboard/utils/pdf_exporter.py
  packages/sleeper_agents/gpu_orchestrator/README.md
  packages/sleeper_agents/gpu_orchestrator/api/models.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_api.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_job_executor.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_platform_models.py
  packages/sleeper_agents/gpu_orchestrator/workers/job_executor.py
  packages/sleeper_agents/scripts/platform/windows/launch_dashboard.bat
Due: ty, check-markdown-links

fix(sleeper_agents): remove fixed priors and illustrative numbers from derived dashboard views
  packages/sleeper_agents/dashboard/components/detection_consensus.py
  packages/sleeper_agents/dashboard/components/leaderboard.py
  packages/sleeper_agents/dashboard/components/persona_profile.py
  packages/sleeper_agents/dashboard/components/risk_mitigation_matrix.py
  packages/sleeper_agents/dashboard/components/scaling_analysis.py
  packages/sleeper_agents/dashboard/tests/test_dash_data_integrity.py
  packages/sleeper_agents/dashboard/utils/chart_capturer.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
  packages/sleeper_agents/dashboard/utils/pdf_exporter.py
Due: ty

test(sleeper_agents): pin ModelEvaluator output with a characterization snapshot
  packages/sleeper_agents/tests/test_evaluator_split_characterization.json
  packages/sleeper_agents/tests/test_evaluator_split_characterization.py
Due: ty

fix(sleeper_agents): do not report a failed entropy KS test as measured
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/probing.py
  packages/sleeper_agents/tests/test_evaluator_split_entropy_ks.py
Due: ty

refactor(sleeper_agents): split evaluation/evaluator.py into a package
  packages/sleeper_agents/src/sleeper_agents/evaluation/evaluator.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/results.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/storage.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/__init__.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/base.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/chain_of_thought.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/code_vulnerability.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/cross_model.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/detection.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/honeypot.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/interventions.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/probing.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/robustness.py
  packages/sleeper_agents/tests/test_evaluator_split_registry.py
Due: ty

fix(sleeper_agents): create training directories when training starts, not in config
  packages/sleeper_agents/src/sleeper_agents/training/dataset_builder.py
  packages/sleeper_agents/src/sleeper_agents/training/fine_tuner.py
  packages/sleeper_agents/src/sleeper_agents/training/safety_trainer.py
  packages/sleeper_agents/src/sleeper_agents/training/training_config.py
  packages/sleeper_agents/tests/test_training_config_dirs.py
Due: ty

fix(sleeper_agents): seed honeypot selection in evaluator and CPU test scripts
  packages/sleeper_agents/scripts/evaluation/comprehensive_test.py
  packages/sleeper_agents/scripts/evaluation/quick_test.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/honeypot.py
  packages/sleeper_agents/tests/test_evaluator_tests.py
Due: ty

test(sleeper_agents): cover dashboard views against temp databases with the real schema
  packages/sleeper_agents/dashboard/tests/test_dash_views_data.py
  packages/sleeper_agents/dashboard/tests/test_dash_views_render.py
Due: ty

fix(sleeper_agents): tested territory uses stored test counts, no targets or ratios
  packages/sleeper_agents/dashboard/components/tested_territory.py
Due: ty

fix(sleeper_agents): trigger sensitivity view shows unmeasured rates as not measured
  packages/sleeper_agents/dashboard/components/trigger_sensitivity.py
Due: ty

fix(sleeper_agents): test suite pickers list the suites stored in the database
  packages/sleeper_agents/dashboard/components/detection_analysis.py
  packages/sleeper_agents/dashboard/components/test_results.py
Due: ty

fix(sleeper_agents): persistence and CoT views show stored results, mock only in mock mode
  packages/sleeper_agents/dashboard/components/chain_of_thought.py
  packages/sleeper_agents/dashboard/components/persistence_analysis.py
  packages/sleeper_agents/dashboard/config/mock_models.py
Due: ty

fix(sleeper_agents): remove defaults and example data from remaining dashboard views
  packages/sleeper_agents/dashboard/components/calibration_metrics.py
  packages/sleeper_agents/dashboard/components/export.py
  packages/sleeper_agents/dashboard/components/export_controls.py
  packages/sleeper_agents/dashboard/components/honeypot_analysis.py
  packages/sleeper_agents/dashboard/components/internal_state.py
  packages/sleeper_agents/dashboard/components/model_comparison.py
  packages/sleeper_agents/dashboard/components/overview.py
  packages/sleeper_agents/dashboard/components/red_team_results.py
  packages/sleeper_agents/dashboard/components/risk_profiles.py
  packages/sleeper_agents/dashboard/components/time_series.py
Due: ty

feat(sleeper_agents): backend-neutral residual-stream hooks and CPU offload in ModelInterface
  packages/sleeper_agents/src/sleeper_agents/models/__init__.py
  packages/sleeper_agents/src/sleeper_agents/models/model_interface.py
  packages/sleeper_agents/tests/test_hf_interventions_hooks.py
  packages/sleeper_agents/tests/test_hf_interventions_models.py
  packages/sleeper_agents/tests/test_hf_interventions_offload.py
Due: ty

feat(sleeper_agents): run causal interventions on the HuggingFace backend
  packages/sleeper_agents/docs/DETECTION_METHODS.md
  packages/sleeper_agents/src/sleeper_agents/app/detector.py
  packages/sleeper_agents/src/sleeper_agents/interventions/causal.py
  packages/sleeper_agents/src/sleeper_agents/probes/causal_debugger.py
  packages/sleeper_agents/tests/test_hf_interventions_causal.py
  packages/sleeper_agents/tests/test_interventions_causal.py
Due: ty, check-markdown-links

feat(sleeper_agents): pass CPU/disk offload options through load_model_for_detection
  packages/sleeper_agents/src/sleeper_agents/detection/model_loader.py
  packages/sleeper_agents/tests/test_models_downloader.py
Due: ty

fix(sleeper_agents): evaluator runs intervention tests on hookable HuggingFace models
  packages/sleeper_agents/src/sleeper_agents/evaluation/suites/interventions.py
  packages/sleeper_agents/tests/test_evaluator_split_characterization.py
  packages/sleeper_agents/tests/test_evaluator_tests.py
Due: ty

feat(sleeper_agents): Rust orchestrator client follows logs by offset, keeps outputs on clean
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator.rs
  packages/sleeper_agents/crates/sleeper-api-client/src/orchestrator_models.rs
  packages/sleeper_agents/crates/sleeper-cli/src/commands/jobs.rs
Due: none

feat(sleeper_agents): orchestrator deletes job outputs, discovers models, caps and tails logs
  packages/sleeper_agents/gpu_orchestrator/.env.example
  packages/sleeper_agents/gpu_orchestrator/README.md
  packages/sleeper_agents/gpu_orchestrator/TESTING.md
  packages/sleeper_agents/gpu_orchestrator/api/main.py
  packages/sleeper_agents/gpu_orchestrator/api/models.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/jobs.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/logs.py
  packages/sleeper_agents/gpu_orchestrator/api/routes/models.py
  packages/sleeper_agents/gpu_orchestrator/core/config.py
  packages/sleeper_agents/gpu_orchestrator/core/container_manager.py
  packages/sleeper_agents/gpu_orchestrator/core/database.py
  packages/sleeper_agents/gpu_orchestrator/core/job_outputs.py
  packages/sleeper_agents/gpu_orchestrator/core/results_store.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_orchestrator_api.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_orchestrator_job_outputs.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_orchestrator_results_store.py
  packages/sleeper_agents/gpu_orchestrator/workers/job_executor.py
Due: ty, check-markdown-links

docs(sleeper_agents): describe orchestrator volume helpers in deployment guides
  packages/sleeper_agents/docs/DOCKER_DEPLOYMENT.md
  packages/sleeper_agents/docs/WINDOWS_DEPLOYMENT.md
Due: check-markdown-links

feat(sleeper_agents): dashboard lists volume models, keeps outputs on request, tails logs incrementally
  packages/sleeper_agents/dashboard/components/build/job_monitor.py
  packages/sleeper_agents/dashboard/components/build/model_discovery.py
  packages/sleeper_agents/dashboard/components/build/run_evaluation.py
  packages/sleeper_agents/dashboard/components/build/safety_training.py
  packages/sleeper_agents/dashboard/components/build/terminal_viewer.py
  packages/sleeper_agents/dashboard/components/build/test_persistence.py
  packages/sleeper_agents/dashboard/components/build/train_probes.py
  packages/sleeper_agents/dashboard/components/build/validate_backdoor.py
  packages/sleeper_agents/dashboard/tests/test_orchestrator_build_client.py
  packages/sleeper_agents/dashboard/utils/gpu_api_client.py
Due: ty

fix(sleeper_agents): dashboard loader and PDF sections report only stored measurements
  packages/sleeper_agents/dashboard/components/export_controls.py
  packages/sleeper_agents/dashboard/components/trigger_sensitivity.py
  packages/sleeper_agents/dashboard/config/test_suites.json
  packages/sleeper_agents/dashboard/tests/test_dash_loader_data.py
  packages/sleeper_agents/dashboard/tests/test_platform_data_loader.py
  packages/sleeper_agents/dashboard/tests/test_platform_reports.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
Due: ty

fix(sleeper_agents): validation scripts no longer pass empty runs or compare to the paper
  packages/sleeper_agents/scripts/validation/test_advanced_detection.py
  packages/sleeper_agents/scripts/validation/validate_detection.py
  packages/sleeper_agents/tests/test_misc_validation_scripts.py
Due: ty

fix(sleeper_agents): make example benchmarks report held-out, controlled, non-overclaimed results
  packages/sleeper_agents/docs/SCRIPTS_REFERENCE.md
  packages/sleeper_agents/examples/art_activation_detector_example.py
  packages/sleeper_agents/examples/benchmark_detectors.py
  packages/sleeper_agents/examples/benchmark_detectors_comprehensive.py
  packages/sleeper_agents/examples/cross_architecture_validation.py
  packages/sleeper_agents/examples/evaluate_model.py
  packages/sleeper_agents/examples/gradient_attack_audit.py
  packages/sleeper_agents/examples/probe_eval_utils.py
  packages/sleeper_agents/examples/real_transformer_benchmark.py
  packages/sleeper_agents/examples/red_team_benchmark.py
  packages/sleeper_agents/examples/test_pytorch_probe_gpu.py
  packages/sleeper_agents/tests/test_misc_examples.py
Due: ty, check-markdown-links

build(sleeper_agents): modernize dashboard test requirements
  packages/sleeper_agents/dashboard/tests/requirements.test.txt
Due: none

fix(sleeper_agents): training scripts default to implemented eval suites and a writable DB
  packages/sleeper_agents/docs/SCRIPTS_REFERENCE.md
  packages/sleeper_agents/scripts/training/safety_training.py
  packages/sleeper_agents/scripts/training/train_backdoor.py
  packages/sleeper_agents/tests/test_misc_training_args.py
Due: ty, check-markdown-links

fix(sleeper_agents): forward all arguments in the Windows validation launchers
  packages/sleeper_agents/docs/TRAINING.md
  packages/sleeper_agents/scripts/validation/run_detection_validation.bat
  packages/sleeper_agents/scripts/validation/run_training.bat
Due: check-markdown-links

fix(sleeper_agents): dashboard shows suite coverage, surfaces honeypot load errors, drops remaining defaults
  packages/sleeper_agents/dashboard/components/build/run_evaluation.py
  packages/sleeper_agents/dashboard/components/build/safety_training.py
  packages/sleeper_agents/dashboard/components/build/test_persistence.py
  packages/sleeper_agents/dashboard/components/build/train_backdoor.py
  packages/sleeper_agents/dashboard/components/build/train_probes.py
  packages/sleeper_agents/dashboard/components/build/validate_backdoor.py
  packages/sleeper_agents/dashboard/components/detection_consensus.py
  packages/sleeper_agents/dashboard/components/export_controls.py
  packages/sleeper_agents/dashboard/components/overview.py
  packages/sleeper_agents/dashboard/components/persistence_analysis.py
  packages/sleeper_agents/dashboard/components/persona_profile.py
  packages/sleeper_agents/dashboard/components/red_team_results.py
  packages/sleeper_agents/dashboard/components/risk_mitigation_matrix.py
  packages/sleeper_agents/dashboard/components/risk_profiles.py
  packages/sleeper_agents/dashboard/components/test_results.py
  packages/sleeper_agents/dashboard/components/tested_territory.py
  packages/sleeper_agents/dashboard/tests/test_dash_final_coverage.py
  packages/sleeper_agents/dashboard/tests/test_dash_final_errors.py
  packages/sleeper_agents/dashboard/tests/test_dash_final_paths_and_defaults.py
  packages/sleeper_agents/dashboard/tests/test_dash_loader_data.py
  packages/sleeper_agents/dashboard/tests/test_dash_views_data.py
  packages/sleeper_agents/dashboard/utils/chart_capturer.py
  packages/sleeper_agents/dashboard/utils/data_loader.py
  packages/sleeper_agents/dashboard/utils/metric_format.py
  packages/sleeper_agents/dashboard/utils/model_helpers.py
  packages/sleeper_agents/dashboard/utils/pdf_exporter.py
Due: ty

fix(sleeper_agents): make the artifact manager forward all arguments and call real scripts
  packages/sleeper_agents/docs/ARTIFACT_MANAGEMENT.md
  packages/sleeper_agents/docs/SCRIPTS_REFERENCE.md
  packages/sleeper_agents/scripts/data/export_experiment.py
  packages/sleeper_agents/scripts/data/import_experiment.py
  packages/sleeper_agents/scripts/setup/artifacts/manage.bat
Due: ty, check-markdown-links

test(sleeper_agents): describe the intervention skip as an unhookable model, not a backend
  packages/sleeper_agents/tests/test_detector_provenance.py
Due: ty

fix(sleeper_agents): resolve the evaluation database default at call time
  packages/sleeper_agents/scripts/training/safety_training.py
  packages/sleeper_agents/src/sleeper_agents/constants.py
  packages/sleeper_agents/src/sleeper_agents/database/ingestion.py
  packages/sleeper_agents/src/sleeper_agents/database/schema.py
  packages/sleeper_agents/src/sleeper_agents/evaluation/evaluator.py
  packages/sleeper_agents/tests/test_docs_evaluation_db_path.py
Due: ty

docs(sleeper_agents): describe current interventions, evaluator layout, CLI and measured claims
  packages/sleeper_agents/CHANGELOG.md
  packages/sleeper_agents/README.md
  packages/sleeper_agents/docs/API_REFERENCE.md
  packages/sleeper_agents/docs/ARCHITECTURE.md
  packages/sleeper_agents/docs/BATCH_EVALUATION.md
  packages/sleeper_agents/docs/CLI_REFERENCE.md
  packages/sleeper_agents/docs/CUSTOM_TESTS.md
  packages/sleeper_agents/docs/DETECTION_METHODS.md
  packages/sleeper_agents/docs/DOCKER_DEPLOYMENT.md
  packages/sleeper_agents/docs/INSTALLATION.md
  packages/sleeper_agents/docs/QUICK_REFERENCE.md
  packages/sleeper_agents/docs/README.md
  packages/sleeper_agents/docs/TEST_SUITES.md
  packages/sleeper_agents/docs/TRANSFORMERLENS_GUIDE.md
  packages/sleeper_agents/docs/WINDOWS_DEPLOYMENT.md
  packages/sleeper_agents/scripts/audit/README.md
  packages/sleeper_agents/scripts/testing/README.md
Due: check-markdown-links

fix(sleeper_agents): reject evaluation suite selections with no implemented tests at the API
  packages/sleeper_agents/gpu_orchestrator/api/models.py
  packages/sleeper_agents/gpu_orchestrator/tests/test_docs_evaluation_suites.py
Due: ty

fix(sleeper_agents): cross-architecture launchers no longer call a high AUC generalization success
  packages/sleeper_agents/scripts/testing/test_cross_architecture.bat
  packages/sleeper_agents/scripts/testing/test_cross_architecture.sh
Due: none

docs(sleeper_agents): TODO lists only remaining open work
  packages/sleeper_agents/TODO.md
Due: check-markdown-links
